body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    background-color: #001F3F;
    border-radius: 20px;
    box-sizing: border-box;
    height: 450px;
    padding: 20px;
    width: 320px;
  }
  label{
    color: white;
  }
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 10px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 85px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #2ECC71;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  

  .product-card {
    background-color: #fdfefe;
    max-width: 550px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    box-shadow: 8px 12px 30px #b3b3b3;
    color: #919495;
    font-weight: normal;
    text-align: left;
    font-size: 18px;
    position: relative;
  }
  
  .product-details {
    width: 53%;
    float: left;
    height: 100%;
    padding: 30px;
  }
  
  .product-details h1 {
    color: #333;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -2px;
  }
  
  .product-details p {
    color: #333;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
    font-size: 0.9em;
    font-weight: 300;
    z-index: 5;
  }
  
  .product-details button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border: 5px solid black;
    font-size: 0.6em;
    letter-spacing: 5px;
    font-weight: 200;
    font-syle: italic;
    box-shadow: 2px 2px 8px #ccc;
    padding: 12px 20px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
  }
  
  .product-details button:hover {
    background-color: transparent;
    color: black;
    border: 5px solid black;
  }
  
  .product-image {
    position: absolute;
    right: -50px;
    top: -10px;
  }
  
  .product-image img {
    max-width: 350px;
  }
  
  @media (max-width: 700px) {
    .product-card {
      margin-left: 20px;
      margin-right: 20px;
    }
    .product-details h1 {
    color: #333;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: -2px;
  }
  }
  
  @media (max-width: 540px) {
    .product-card {
      overflow: hidden;
      margin-bottom: 50px;
    }
  
    .product-details {
      width: 60%;
      z-index: 1;
    }
  
    .product-image {
      width: 100%;
      left: 51%;
      top: 5%;
    }
  }
  
  @media (max-width: 440px) {
    .product-details {
      width: 65%;
    }
  }
  
  @media (max-width: 365px) {
    .product-details {
      width: 80%;
      position: relative;
      color: #333;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  