<!-- ======================= Cards ================== -->
<div class="cardBox">
    <div class="card ">
        <div class="iconBx">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Objets perdus</div>
        </div>

    </div>

    <div class="card">
        <div class="iconBx">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">500</div>
            <div class="cardName">Nombre visites</div>
        </div>

    </div>

    <div class="card">
        <div class="iconBx">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Objets trouvés</div>
        </div>

    </div>

    <div class="card ">
        <div class="iconBx">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Annonces </div>
        </div>

    </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
  <div class="recentOrders">
        <div class="cardHeader">
            <h2>Recent Orders</h2>
            <a href="#" class="btn">View All</a>
        </div>

        <table datatable [dtOptions]="dtOptions" class="row-border hover table">
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Someone</td>
                <td>Youknow</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>
              </tr>
              <tr>
                <td>7</td>
                <td>François</td>
                <td>Holland</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Michel</td>
                <td>Popo</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Chuck</td>
                <td>Norris</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Simon</td>
                <td>Robin</td>
              </tr>
              <tr>
                <td>11</td>
                <td>Louis</td>
                <td>Lin</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Zelda</td>
                <td>Link</td>
              </tr>
            </tbody>
          </table>
          
          
    </div> 

    <!-- ================= New Customers ================ -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Recent Customers</h2>
        </div>

        <table>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                </td>
                <td>
                    <h4>David <br> <span>Italy</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Jassa <br> <span>India</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                </td>
                <td>
                    <h4>David <br> <span>Italy</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Jassa <br> <span>India</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                </td>
                <td>
                    <h4>David <br> <span>Italy</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Jassa <br> <span>India</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                </td>
                <td>
                    <h4>David <br> <span>Italy</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Jassa <br> <span>India</span></h4>
                </td>
            </tr>
        </table>
    </div> 
</div>