

<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
  <div class="card ">
      <div class="iconBx">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </div>
      <div *ngIf=" listeBiens">
        <div class="numbers">{{  listeBiens.length }}</div>
        <div class="cardName">Objets perdus</div>
      </div>
  

  </div>

  <div class="card">
      <div class="iconBx">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
      <div>
          <div class="numbers">500</div>
          <div class="cardName">Nombre visites</div>
      </div>

  </div>

  <div class="card">
      <div class="iconBx">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
      </div>
      <div >
        <div class="numbers">13</div>
        <div class="cardName">Objets totals</div>
      </div>

  </div>

  <div class="card ">
      <div class="iconBx">
        <i class="fa fa-money" aria-hidden="true"></i>
      </div>
      <div>
          <div class="numbers">100</div>
          <div class="cardName">Annonces </div>
      </div>

  </div>
</div>

<!-- ================ contenu tableau gestion users ================= -->
<div class="details">
      <div class="link-rapide">
        <a type="submit" [routerLink]="['../gestion-publicite']" class="btn ">Liste des publicités</a>
        <a type="submit" [routerLink]="['../gestion-annonces']" class="btn ">Liste des annonces</a>
    </div>
<div class="recentOrders">

      <div class="cardHeader">
          <h2>Liste annonces récentes</h2>
          <a href="#" class="btn">Voir tout</a>
      </div>

      <table datatable [dtOptions]="dtOptions" class="row-border hover table text-left">
        <thead>
          <tr>
            <th>Libelle</th>
            <!-- <th>description</th> -->
            <!-- <th>Lieu</th> -->
            <th>Date</th>
            <th>Image</th>
            <!-- <th>Categories</th> -->
            <th>Type bien</th>
            <th>Action</th>
          </tr>
        </thead>
  
        <tbody>
  
          <tr *ngFor="let bi of listeBiens">
            <td> {{bi.libelle}}</td>
            <!-- <td>{{bi.description}}</td> -->
            <!-- <td>{{bi.lieu}}</td> -->
            <td>{{bi.date}}</td>
            <td><img src="http://127.0.0.1:8000/imagesBiens/{{bi.image}}" alt=""
                style="width: 50px; border-radius: 100%;"> </td>
            <!-- <td>{{ bi.categorie_id}}</td> -->
            <td><button
                class="btn-link  btn-success text-white text-decoration-none rounded-2 px-2">{{bi.type_bien}}</button>
            </td>
            <td><span class="status action-icon">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal2">
                  <i class="bi bi-eye-fill" (click)="detailBien(bi.id)"></i>
                </a>
                <a id="btn-modal-edit" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo"> <i
                    class="bi bi-pencil-square" (click)="chargerInfosBien(bi)"></i> </a>
              </span>
            </td>
          </tr>
  
        </tbody>
      </table>
        <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover table text-left" class="table" *ngIf="listeBiens.length<0">
            <thead>
              <tr>
                  <th>Image</th>
                  <th>Titre</th>
                  <th>Description</th>
                  <th>lieu</th>
                  <th>Date</th>
                  <th>Categorie</th>
                  <th>Etat</th>
                  <th>Action</th>
              </tr>
          </thead>
    
          <tbody>
            <tr>
                <td>Aucun bien trouvé ici</td>
                
            </tr>
          
            
          </tbody>
            </table>
         -->
        
  </div> 
</div>

      
      <!-- Modal pour détails annonces -->
      <div class="modal" id="mydetails">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2">
            <div class="d-flex justify-content-between" >
                <h4 class="modal-title">Détails objet</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="container-fluid  mx-auto">
                                    <div class="row d-flex justify-content-center">
                                        <div class="card card-details border-0">
                                            <div class="row set-p justify-content-center">
                                                <div class="col-sm-4 px-0">
                                                    <img class="image" src="../../../../assets/images/cartable.png">
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row px-3">
                                                        <h5 class="font-weight-bold">Cartable en cuire marron</h5>
                                                    </div>
                                                    <div class="row px-3 mb-3">
                                                        
                                                        <p class="text-muted mb-0">trouvé à mbao vers 10h50 avec une bouteille d'au à coté</p>
                                                    </div>
                                                    <div class="row px-3">
                                                        <span class="status action-icon">
                                                            <a href="#">                
                                                            <i class="bi bi-pencil-square" ></i>
                                                            </a>                
                                                            <a href="#">                
                                                                <i class="bi bi-eye-fill"></i>
                                                            </a>                
                                                            <a href="#">                
                                                                <i class="bi bi-chat"></i>
                                                            </a>                
                                                            <!-- <a href="#">                
                                                                <i class="bi bi-archive"></i>
                                                            </a>                 -->
                                                            <a href="#">                
                                                                <i class="bi bi-archive-fill"></i>                
                                                            </a>                
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
            </div>
      
          </div>
        </div>
      </div>
     <!-- //modifier demande -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modification bien</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="libelle" class="col-form-label">Libellé</label>
              <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle">
            </div>
            <div class="mb-3">
              <label for="description" class="col-form-label">description:</label>
              <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
            </div>
            <div class="mb-3">
              <label for="lieu" class="col-form-label">lieu</label>
              <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu">
            </div>
            <div class="mb-3">
              <label for="description" class="col-form-label">Categorie de bien <span class="required">*</span></label>
              <select class="form-select" aria-label="Default select example" name="[type_bien]" [(ngModel)]="type_bien">
                <option value="bien perdu">Bien perdu</option>
                <option value="bien trouve">Bien trouve</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="date" class="col-form-label">Date</label>
              <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date">
            </div>
            <div class="mb-3">
              <label for="image" class="col-form-label">image</label>
              <input type="file" class="form-control" id="image" name="image" [(ngModel)]="image">
            </div>
            <div class="mb-3">
              <label for="categorie" class="form-label">Categorie <span class="required">*</span></label>
              <select class="form-select" aria-label="Default select example" name="categorie" [(ngModel)]="categorie_id">
                <option selected>Selectionner une categorie</option>
                <option *ngFor="let categorie of categories" [value]="categorie.id">
                  {{ categorie.nom }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-primary" (click)="editerBien()">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--details demande-->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Détails bien </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="bienSelectionner">
          <h3>{{bienSelectionner.libelle}}</h3>
          <h5>{{bienSelectionner.description}}</h5>
          <h5>{{bienSelectionner.lieu}}</h5>
          <h5>{{bienSelectionner.type_bien}}</h5>
          <h5>{{bienSelectionner.image}}</h5>
          <h5>{{bienSelectionner.categorie_id}}</h5>
          <!-- <h5>{{bienSelectionner.statutUpdate}}</h5> -->
        </div>
      </div>
    </div>
  </div>

