
   <div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row container">
                <div class="col-lg-12 col-md-4" >
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs " role="tablist">
                          <li class="nav-item d-flex gap-5">
                            <img class="rounded-circle w-25" src="../../../../assets/images/clé.png" alt="">
                            <h3 class="nav-item mt-4">Amadou Tall</h3>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- menu page profil -->
                <div class="col-lg-12 col-md-4" >
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs d-flex gap-4 " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active " id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true" ><i class="ti-location-pin"></i>Détails profil</a>
                            </li>
                          <li class="nav-item">
                            <a class="nav-link " id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Modifier profil</a>
                          </li>
                        </ul>
                    </div>
                </div>
                <!-- fin menu page profil -->
                <div class="col-lg-12 col-md-8 " >
                    <div class="tab-content dashboard_content">
                          <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                          </div>
                          <div class="tab-pane fade" id="logout" role="tabpanel" aria-labelledby="logout-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Logout</h3>
                                </div>
                                <div class="card-body">
                                    <p>From your account dashboard. you can easily check &amp; view your <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent orders</a>, manage your <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">shipping and billing addresses</a> and <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">edit your password and account details.</a></p>
                                    <button type="submit" class="btn btn-fill-out py-2" name="submit" value="Submit">Logout</button>
                                </div>
                            </div>
                          </div>
                          <!--details profil utlisateur son profil-->
                        <div class="tab-pane fade active show" id="address" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3>Tous les détails de ton profil</h3>
                                        </div>
                                        <div class="card-body" *ngIf="userConnect">
                                            <h5 class="mb-4 title-profil"> Nom : <span> {{userConnect.name}}</span> </h5>
                                            <h5 class="mb-4 title-profil"> Prenom: <span>{{userConnect.firstName}}</span> </h5>
                                            <h5 class="mb-4 title-profil"> Email: <span>{{userConnect.email}}</span>  </h5>
                                            <h5 class="mb-4 title-profil"> Telephone: <span>{{userConnect.phone}}</span> </h5>
                                            <a href="#" class="btn btn-fill-out btn-profil" >Modifier</a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fin details profil utlisateur son profil-->
                        <!--modifier son profil-->
                        <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Modifier profil</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post" name="enq">
                                        <div class="row">
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Prénom <span class="required">*</span></label>
                                                <input type="text" class="form-control" name="firstName" type="text" [(ngModel)]="userConnect.name">
                                             </div>
                                             <div class="form-group col-md-6 mb-3">
                                                <label>Nom<span class="required">*</span></label>
                                                <input type="text" class="form-control" name="nom" [(ngModel)]="userConnect.firstName">
                                            </div>
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Email<span class="required">*</span></label>
                                                <input type="email" class="form-control" name="email" [(ngModel)]="userConnect.email">
                                            </div>
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Mot de pass <span class="required">*</span></label>
                                                <input type="text" class="form-control" name="password">
                                            </div>
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Téléphone <span class="required">*</span></label>
                                                <input type="tel" class="form-control" name="phone" [(ngModel)]="userConnect.phone">
                                            </div>
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Adresse <span class="required">*</span></label>
                                                <input type="text" class="form-control" name="adresse">
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-fill-out btn-profil" name="submit" value="Submit" (click)="modifierUtilisateur()">Enregistrer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                         <!-- fin modifier son profil-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>

