<app-header></app-header>
<!-- section formulaire -->
<section>
    <div class="container-fluid  " id="container_contact">
        <div class="simple_text px-3" >
            <h3> Information de Contact</h3>
            <p class="text-contact mt-3">Dites quelque chose pour démarrer un chat </p>
            <p class="text-contact1 ">en direct !</p>
            <ul>
                <li class="elements mt-5"><i class="fa-solid fa-phone" style="color: #ffffff;"></i> +221 774065868</li>
                <li class="elements"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> admingmailcom</li>
                <li class="elements"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> DakarSénégal</li>
            </ul>
        </div>
        <div class="form_conaitner">
            <form action="" id="contact-form">
                <div class="mb-3">
                    <label for="">Prénom Nom</label>
                    <input type="text" name="prénom" placeholder="Nom Complet" required>
                </div>
                <div class="mb-3">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="email@gmail.com" required>
                </div>
                <div class="mb-3">
                    <label for="">Téléphone</label>
                    <input type="text" name="phone" placeholder="+221 77 777 77 77 " required>
                </div>
                <div class="mb-3">
                    <label for="">Message</label>
                    <textarea id="message" name="message" placeholder="Votre message"
                        required> </textarea>
                </div>
                <button type="submit" id="submite">Envoyer</button>
            </form>
        </div>
    </div>
</section>
 End section formulaire
<app-footer></app-footer>
