

    <footer class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 square " id="logo-footer">
                    <div class="brand"><img src="../../../../assets/images/logo3.png" alt=""></div>
                    <div class="about px-2">
                        <i class="bi bi-facebook" ></i>
                        <i class="bi bi-twitter-x"></i>
                        <i class="bi bi-instagram"></i>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 square" style="margin-left: 5%;">
                    <div class="heading">page</div>
                    <ul class="p-list">
                        <li  >A propos</li>
                        <li > <a [routerLink]="['/contact']">Contact</a></li>
                        <li ><a [routerLink]="['/annonces']">Annonces</a></li>
                        <li  ><a [routerLink]="['/publicite']">Publicite</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 square ms-lg-2">
                    <div class="heading">Politiques</div>
                    <ul class="l-list">
                        <li> <a [routerLink]="['/confidentialite']">Confidentialité</a></li>
                        <li> <a [routerLink]="['/ulisation']">Utilisation</a></li>
                    
                        
                    </ul>
                </div>
                
                <div class="col-lg-4 col-md-6 square">
                    <div class="headingz">Actualité</div>
                    <h1></h1>
                    <ul class="social-media">
                        <li><img src="../../../../assets/images/clé.png" alt="" id="news"></li>
                        <li><img src="../../../../assets/images/cartable.png" alt="" id="news"></li>
                        <li><img src="../../../../assets/images/iphone 8.png" alt="" id="news"></li>
                        <li><img src="../../../../assets/images/passport.png" alt="" id="news"></li>
                        
                    </ul>
                </div>
            </div>
           
        </div>
        <div class="copy" id="bottom-footer">tous droits réservés - 2023. <a href="#">Eureka</a></div>
    </footer>
