<footer class="footer-section">
    <div class="content-footer">
        <div class="footer-cta h-25 px-5 py-2">
            <div class="row row-cta ">
                <div class="col-xl-12 col-lg-4 col-md-6 mb-2">
                    <div class="footer-widget1 d-flex justify-content-between   w-100  row ">
                        <div class="footer-widget-heading1 col-lg-4 col-md-6 ">
                            <h3>S'incrire</h3>
                            <p>N'oubliez pas de vous inscrire à notre news letter pour etre au cours des objets déclarés
                                quotidiennement</p>
                        </div>
                        <div class="subscribe-form col-lg-4 col-md-6 mt-3">
                            <form action="#">
                                <input type="text" placeholder="adresse email" class="rounded-5" id="email" name="email" [(ngModel)]="email">
                                <button class="btn rounded-5 w-10" style="width: 7rem;" (click)="subscribeNewsLetter()"><i
                                        class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content py-3 container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href=""><img src="../../../../assets/images/logo3.png" class="img-fluid w-25"
                                    alt="logo"></a>
                        </div>
                        <div class="footer-social-icon">
                            <span>Suivez-nous 👇🏼</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="footer-widget">
                        <div class="link">
                            <h3>Liens rapides</h3>
                        </div>
                        <ul>
                            <li><a href="" [routerLink]="['/accueil']">Accueil</a></li>
                            <li><a href="" [routerLink]="['/publicite']">Partenaire</a></li>
                            <li><a href="" [routerLink]="['/contact']">Contact</a></li>
                            <li><a href="" [routerLink]="['/confidentialite']">Politique Confidentialité</a></li>
                            <li><a href="" [routerLink]="['/confidentialite']">Condition d'utilisatation</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Derniers annonces</h3>
                        </div>
                        <div class="footer-image row d-flex gap-3 ">
                            <img src="../../../../assets/images/cartable.png"
                                style="width: 50px; height: 50px; border: 2px solid #001F3F;" alt="">
                            <img src="../../../../assets/images/cartable.png"
                                style="width: 50px; height: 50px; border: 2px solid #001F3F;" alt="">
                            <img src="../../../../assets/images/cartable.png"
                                style="width: 50px; height: 50px; border: 2px solid #001F3F;" alt="">
                            <img src="../../../../assets/images/cartable.png"
                                style="width: 50px; height: 50px; border: 2px solid #001F3F;" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-6 text-center text-lg-center">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>