<div class=" container w-100  d-flex justify-content-center align-items-center " id="mainForm">
    <div class="row  w-75 bg-white py-2 " style=" margin: 0 auto "  id="row">
      <div class="col-lg-6 h-100"  id="imageForm" style=" height: 100% "  >
        <!-- <img src="../../../assets/imgs/customer01.jpg" alt=""> -->
      </div>
      <div class="col-lg-6 " *ngIf="afficherBloc1">
        <div class="d-flex justify-content-around mt-4">
          <h2 id="description">Connectez -vous ! </h2>
        </div>
        <form  class="mt-5">
          <div class="mb-3" >
            <label  class="form-label text-black ">Email</label>
            <input type="email" class="form-control w-100 " name="email" id="exampleFormControlInput1 " placeholder="email"  [(ngModel)] = "email">
          </div>
  
          <div class="mb-3" >
            <label for="passwordExemple0" class="form-label text-black">Mot de passe</label>
            <input type="password" class="form-control w-100 " name="password" id="passwordExemple0" placeholder="mot de pass"  [(ngModel)] = "password">
          </div>
          <div class="col-12 px-0 my-3">
            <button type="button" class="text-white w-100  btn-submit my-2" id="btn-submit" style="background-color: #2ECC71;"  (click)="login()">Se connecter</button>
            <a class="para text-black-50">Mot de pass oublier</a>
            <a  (click)="basculerBlocs(); " id="btn-btn">Je n’ai pas de compte, je me connecte</a>
          </div>
        </form>
      </div>
  
  
      <div class="col-lg-6" *ngIf="!afficherBloc1"  style="border: 2px solid  ; height: 100%;">
          <div class="d-flex justify-content-around">
            <h2>Inscrivez vous !</h2>
          </div>
          <form >
            <div class="">
              <label for="name" class="form-label ">Nom</label>
              <input type="text" class="form-control w-100"  name="name" id="name" placeholder="votre nom de famille" [(ngModel)] = "name">
            </div>
            <div class="">
              <label for="firstName" class="form-label ">Prenom</label>
              <input type="text" class="form-control w-100" name="firstName" id="firstName" placeholder="votre prenom" [(ngModel)] = "firstName">
            </div>
            <div class="">
              <label for="email" class="form-label ">Email</label>
              <input type="email" class="form-control w-100" name="email"  id="email" [(ngModel)] = "email">
            </div>
  
            <div class="">
              <label for="password" class="form-label ">Mot de pass</label>
              <input type="password" class="form-control w-100" name="password" id="password"  [(ngModel)] = "password">
            </div>
            <div class="">
              <label for="confirmPassword" class="form-label ">confirmer mot de passe</label>
              <input type="password" class="form-control w-100" name="confirmPassword" id="confirmPassword"  [(ngModel)] = "confirmPassword" >
            </div>
            <div class="">
              <label for="phone" class="form-label ">Tel</label>
              <input type="number" class="form-control w-100" name="phone" id="phone"  [(ngModel)] = "phone">
            </div>
            
            <div class="col-12 px-0 my-3">
              <button type="button"  class=" btn w-100 text-white mb-3 btn-submit" style="background-color: #2ECC71;" (click)="register()" >S'inscrire</button>
            </div>
          </form>
  
      </div>
  
    </div>
  </div>
  
  
  
  
