<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
    <div class="card ">
        <div class="iconBx">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Objets perdus</div>
        </div>

    </div>

    <div class="card">
        <div class="iconBx">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">500</div>
            <div class="cardName">Nombre visites</div>
        </div>

    </div>

    <div class="card">
        <div class="iconBx">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Objets trouvés</div>
        </div>

    </div>

    <div class="card ">
        <div class="iconBx">
            <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Annonces </div>
        </div>

    </div>
</div>
<!-- ================= New Customers ================ -->
<div class="form-objet">


    <!--section déclaration objets trouvés-->
    <section class="declaration h-75 mx-auto">
        <h1 class="text-center mt-3">Faites une déclaration ici !</h1>
        <!-- section soumettre Objet  -->
        <div class="container row container-declaration  ">
            <div class="declaration-right  col-md-5 col-sm-12 ">
                <form action="" class=" text-black ">
                    <div class="mb-3">
                        <label for="libelle" class="col-form-label">Libellé</label>
                        <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">description:</label>
                        <input type="text" class="form-control" id="description" name="description"
                            [(ngModel)]="description">
                    </div>
                    <div class="mb-3">
                        <label for="lieu" class="col-form-label">lieu</label>
                        <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="col-form-label">date</label>
                        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="col-form-label">image</label>
                        <input type="file" class="form-control" id="image" name="[image]" (change)="getFile($event)">
                    </div>
                    <div class="mb-3">
                        <label for="categorie_id" class="col-form-label">categorie_id</label>
                        <input type="number" class="form-control" id="categorie_id" name="categorie_id"
                            [(ngModel)]="categorie_id">
                    </div>
                    <button type="button" class="btn btn-primary" (click)="ajoutBien()">Envoyer</button>
                </form>
            </div>
            <div class="declaration-left col-md-5 col-sm-12 p-0">
                <img src="../../../../assets/images/hero.png" alt="">
            </div>


        </div>
        <!-- Fin Contenu  -->
    </section>
</div>

<!--modal ajout bien trouvée-->