<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
    <div class="card ">
        <div class="iconBx">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
        <div *ngIf="listeBiens">
            <div class="numbers">{{ listeBiens.length }}</div>
            <div class="cardName">Objets perdus</div>
        </div>

    </div>

    <div class="card">
        <div class="iconBx">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">500</div>
            <div class="cardName">Nombre visites</div>
        </div>

    </div>

    <div class="card">
        <div class="iconBx">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Objets trouvés</div>
        </div>

    </div>

    <div class="card ">
        <div class="iconBx">
            <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Annonces </div>
        </div>

    </div>
</div>
<!-- ================= New Customers ================ -->
<div class="form-objet">


    <!--section déclaration objets trouvés-->
    <section class="declaration  mx-auto">
        <header class="welcome-banner container row container-declaration  ">
            
            <div class="declaration-left col-lg-7 col-md-7 col-sm-12 p-0 " style="text-align: justify;" >
               
                <p class="">Attention, votre annonce sera visible pour tout le monde !
                    Soyez vigilant dans le contenu de votre annonce et lors des échanges avec les autres utilisateurs !</p>
                    <p class="text-white">
                       
                        Attention aux escroqueries et ne pas envoyer d’argent avant de vérifier les informations.
                        Préférez les rencontres en personne dans un lieu public et à être accompagné.
                        Nous ne sommes pas responsable des pertes, dommages ou blessures liés aux transactions.
                        Signalez les abus, arnaques ou contenus inappropriés.
                        Faites preuve de bon sens et de prudence.</p>
            </div>
            <div class="declaration-left col-lg-3 col-md-3 col-sm-12 p-0">
                <img src="../../../../assets/images/hero.png" alt="">
            </div>
        </header>
        <!-- section soumettre Objet  -->
        <div class="container row container-declaration mt-4 ">
             
            
            <div class="card mb-4">
                <div class="card-header">
                    <h3> Qu'avez-vous trouvé ou perdu ? </h3>
                </div>
                <div class="card-body">
                    <form method="post" name="enq">
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <label>Libelle <span class="required">*</span></label>
                                <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle">
                             </div>
                             <div class="form-group col-md-6 mb-3">
                                <label>Description <span class="required">*</span></label>
                                <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description"> </div>  
                                                         
                            <div class="form-group col-md-6 mb-3">
                                <label for="description" class="col-form-label">Categorie de bien <span class="required">*</span></label>
                                <select
                                  class="form-select"
                                  aria-label="Default select example"
                                  name="[type_bien]" [(ngModel)]="type_bien" >
                                  <option value="bien perdu">Bien perdu</option>
                                  <option value="bien trouve">Bien trouve</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="date" class="col-form-label">date <span class="required">*</span></label>
                                <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date">
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label>Lieu <span class="required">*</span></label>
                                <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu">
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="image" class="col-form-label">Image</label>
                                <input type="file" class="form-control" id="image" name="[image]" (change)="getFile($event)">
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="categorie" class="form-label">Categorie <span class="required">*</span></label>
                                <select
                                class="form-select"
                                aria-label="Default select example"
                                name="categorie"
                                [(ngModel)]="categorie_id">
                                <option selected>Selectionner une categorie</option>
                                <option *ngFor="let categorie of categories" [value]="categorie.id">
                                    {{ categorie.nom }}
                                </option>
                                </select>
                            </div>
                           
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-fill-out" name="submit" value="Submit" (click)="ajoutBien()">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fin Contenu  -->
    </section>
</div>

<!--modal ajout bien trouvée-->