
     
 
    <header class="header shadow-sm">
      <nav class="navbar">
        <h2 class="logo">
          <a href="#"
            ><img
              src="../../../../assets/images/logo3.png"
              alt=""
              height="50px"
          /></a>
        </h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path
              d="M3 12h18M3 6h18M3 18h18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </label>
        <ul class="links">
          <li>
            <a href="#" routerLink="/accueil" routerLinkActive="active">Accueil</a>
          </li>
          <li>
            <a href="#" routerLink="/apropos" routerLinkActive="active">A propos</a>
          </li>
          <li>
            <a href="#" routerLink="/publicite" routerLinkActive="active">Publicités </a>
          </li>
          <li>
            <a href="#" routerLink="/annonces" routerLinkActive="active"
              >Annonces</a
            >
          </li>
          <li>
            <a href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
        <div class="buttons">
          <a href="#" routerLink="/login" class="paste-button">
            <i class="bi bi-people-fill" style="font-size: 40px; color:#2ECC71;" width="40"
             aria-hidden="true"></i>
            <ul class="dropdown-content" >
              <a id="top" href="#" [routerLink]="['/utilisateurs/accueilutilisateurs']">  <i class="bi bi-microsoft" aria-hidden="true"></i>  Dashboard</a>
              <a id="top" href="#" routerLink="/logout"><i class="bi bi-file-earmark-richtext-fill" aria-hidden="true"></i> Mes annonces </a>
              <a id="top" href="#" routerLink="/inforations-profil"><i class="bi bi-people-fill"></i> Mon Profil</a>
              <a id="middle" href="#" (click)="logout()" ><i class="bi bi-house-door" aria-hidden="true" style=" " ></i> Deconnexion</a>
            </ul>
            <!-- <ul class="dropdown-content" *ngIf="isUserLoggedIn()">
              <a id="top" href="#" routerLink="/information-profil">Profil</a>
              <a id="middle" href="#" routerLink="/accueil" (click)="logout()"
                >Se deconnecter</a
              >
            </ul> -->
          </a>
        </div>
      </nav>
    </header>
    