

<nav class="navbar navbar-expand-md navbar-dark " id="header">
    <div class="container">
      <a class="navbar-brand" href="#" id="nav"><img src="../../../../assets/images/logo3.png" alt=""></a>
      <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#a" >
        <i class="fa-solid fa-bars" style="color: #001F3F !important;"></i>
      </button>
      <div class="collapse navbar-collapse" id="a" >
        <ul class="navbar-nav  d-flex justify-content-between gap-4 text-center"id="navbar">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/accueil']" >Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/annonces']" >Annonces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/publicite']">Partenariat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
        <div class="ms-4 d-flex justify-content-between gap-2">
          <button type="submit" class="btn" id="btn-log" [routerLink]="['/authentification']">S'inscrire</button>
          <button type="submit"  class="btn  " id="btn-log" [routerLink]="['/authentification']">Se connecter</button>
        </div> 
      </div>
    </div>
  </nav>
