<!-- =============== Navigation ================ -->
<div class="">
    <div [ngClass]="status ? 'active' : ''" class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                      <i class="fa fa-apple"></i>
                    </span>
                    <span class="title">Eureka</span>
                </a>
            </li>
  
            <li>
                <a  href="#" [routerLink]="['accueil-admin']">
                    <span class="icon">
                      <i class="bi bi-microsoft" aria-hidden="true"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
  
            <li>
                <a [routerLink]="['gestion-utilisateur']">
                    <span class="icon">
                      <i class="bi bi-people-fill" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Utilisateur </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['gestion-role']">
                    <span class="icon">
                      <i class="bi bi-people-fill" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Role </span>
                </a>
            </li>
  
            
  
            <li>
                <a [routerLink]="['gestion-annonces']">
                    <span class="icon">
                      <i class="bi bi-file-earmark-richtext-fill" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Annonces</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['gestion-categorie']">
                    <span class="icon">
                      <i class="bi bi-palette2" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Categories</span>
                </a>
            </li>
           
            <li>
                <a [routerLink]="['gestion-partenariat']">
                    <span class="icon">
                      <i class="bi bi-palette2" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Partenariat</span>
                </a>
            </li>
  
            <li>
                <a  [routerLink]="['gestion-publicite']">
                    <span class="icon">
                      <i class="bi bi-megaphone-fill" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Publicite</span>
                </a>
            </li>

            <li>
                <a class="btn " (click)="logout()">
                    <span class="icon">
                      <i class="bi bi-box-arrow-left" aria-hidden="true"></i>
                    </span>
                    <span class="title">Déconnextion</span>
                </a>
            </li>
        </ul>
    </div>
  
    <!-- ========================= Main ==================== -->
    <div [ngClass]="status ? 'active' : ''" class="main">
        <div class="topbar">
            <div class="toggle" (click)="addToggle()">
              <i class="bi bi-list text-white" aria-hidden="true"></i>
            </div>
  
            <!-- <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
            </div> -->
  
            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>
  
        <router-outlet></router-outlet>
    </div>
  </div>