<!-- section header visiteur -->
<header class="header shadow-sm">
    <nav class="navbar">
      <h2 class="logo">
        <a href="#"
          ><img
            src="../../../../assets/images/logo3.png"
            alt=""
            height="50px"
        /></a>
      </h2>
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" id="hamburger-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path
            d="M3 12h18M3 6h18M3 18h18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </label>
      <ul class="links">
        <li>
          <a href="#" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li>
          <a href="#" routerLink="/apropos" routerLinkActive="active">A propos</a>
        </li>
        <li>
          <a href="#" routerLink="/publicite" routerLinkActive="active">Partenariat </a>
        </li>
        <li>
          <a href="#" routerLink="/annonces" routerLinkActive="active"
            >Annonces</a
          >
        </li>
        <li>
          <a href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <div class="buttons">
        <a href="#" class="btn btn-lg px-2 py-2 text-white" style="background-color: #001F3F; height: 40px;" routerLink="/authentification" routerLinkActive="active">Se connecter</a>
      </div>
    </nav>
  </header>
<!-- section header visiteur -->

<!-- Banierre  -->
<div id="carouselIndicator" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  src="../../../../assets/images/banner1.png" style="margin-top: 50px !important;" class="d-block w-100">
      </div>
    </div>
  </div>
   <!-- Section propos de sama gokh  -->
   <div class="aproposEureka container mx-auto">
    <div class="heading_s1 text-center ">
        <h3>Apropos de Eureka</h3>
    </div>    <div class="card mb-3 border-0">
        <div class="row g-0">
          <div class="col-lg-6">
            <img src="../../../../assets/images/about2-05-05.png" class="img-fluid rounded-2" alt="...">
          </div>
          <div class="col-lg-6">
            <div class="card-body p-4">
                

              <h5 class="card-title fw-bold">C'est quoi EUREKA ?</h5>
              <p class="card-text">Eureka est une plateforme en ligne qui permet à une commune d'impliquer ses habitants dans sa gestion (prise de décision sur des projets à réaliser dans la ville). </p> 
              <p class="card-text">Concrètement, l'idée est de mettre à la connaissance des populations l’ensemble des projets de la commune dans le but de recueillir leurs avis à travers des votes en ligne.</p>
              <p class="card-text">Sama Gokh est la plateforme qui donne la parole aux habitants pour façonner l'avenir de leur commune. </p>
              <p class="card-text">Sama Gokh est bien plus qu'une plateforme   en ligne. C'est un espace dédié à l'expression collective des habitants, une vitrine où chaque voix compte dans la construction de  l'avenir de notre commune.</p>
            </div>
          </div>
        </div>
    </div>

 
</div>

 <!-- objet perdu ou trouvé -->
 <div class="row">
    <div class="col-12">
        <div class="heading_s1 text-center ">
            <h3>Objets déclarés</h3>
        </div>
        <div data-margin="20" data-responsive="{&quot;0&quot;:{&quot;items&quot;: &quot;1&quot;}, &quot;481&quot;:{&quot;items&quot;: &quot;2&quot;}, &quot;768&quot;:{&quot;items&quot;: &quot;3&quot;}, &quot;1199&quot;:{&quot;items&quot;: &quot;4&quot;}}" class="releted_product_slider carousel_slider owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer row container mx-auto " >
                <div class="owl-stage col-lg-2" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; " >
                    <div class="owl-item active" style="width: 320px; ">
                        <div class="item">
                            <div class="product"><span class="pr_flash">Perdu</span>
                                <div class="product_img"><a href="shop-product-detail.html"><img
                                            src="../../../../assets/images/cartable.png" alt="product_img3"></a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li><a href="shop-compare.html"><i class="bi bi-eye"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-whatsapp"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-chat-left-dots-fill"></i></a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="shop-product-detail.html">woman full
                                            sliv dress</a>
                                    </h6>
                                    <div class="product_price">
                                        <span class="price">description</span>
                                           
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card dup1 -->
               
                <div class="owl-stage col-lg-2" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; " >
                    <div class="owl-item active" style="width: 320px;">
                        <div class="item">
                            <div class="product"><span class="pr_flash">Perdu</span>
                                <div class="product_img"><a href="shop-product-detail.html"><img
                                            src="../../../../assets/images/cartable.png" alt="product_img3"></a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li><a href="shop-compare.html"><i class="bi bi-eye"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-whatsapp"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-chat-left-dots-fill"></i></a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="shop-product-detail.html">woman full
                                            sliv dress</a>
                                    </h6>
                                    <div class="product_price">
                                        <span class="price">description</span>
                                           
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-stage col-lg-2" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; " >
                    <div class="owl-item active" style="width: 320px;">
                        <div class="item">
                            <div class="product"><span class="pr_flash">Perdu</span>
                                <div class="product_img"><a href="shop-product-detail.html"><img
                                            src="../../../../assets/images/cartable.png" alt="product_img3"></a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li><a href="shop-compare.html"><i class="bi bi-eye"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-whatsapp"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-chat-left-dots-fill"></i></a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="shop-product-detail.html">woman full
                                            sliv dress</a>
                                    </h6>
                                    <div class="product_price">
                                        <span class="price">description</span>
                                           
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="owl-stage col-lg-2" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; " >
                    <div class="owl-item active" style="width: 320px;">
                        <div class="item">
                            <div class="product"><span class="pr_flash">Perdu</span>
                                <div class="product_img"><a href="shop-product-detail.html"><img
                                            src="../../../../assets/images/cartable.png" alt="product_img3"></a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li><a href="shop-compare.html"><i class="bi bi-eye"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-whatsapp"></i></a>
                                            </li>
                                            <li><a href="shop-compare.html"><i class="bi bi-chat-left-dots-fill"></i></a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="shop-product-detail.html">woman full
                                            sliv dress</a>
                                    </h6>
                                    <div class="product_price">
                                        <span class="price">description</span>
                                           
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- START SECTION WHY CHOOSE -->
 <div class="section  pb_70 ">
    <div class="container  mx-auto">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-8">
                <div class="heading_s1 text-center">
                    <h2>Pourquoi faire une déclaration?</h2>
                </div>
                <p class="text-center leads">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="icon_box icon_box_style4 box_shadow1">
                    <div class="icon">
                        <i class="bi bi-info-circle-fill"></i></div>
                    <div class="icon_box_content">
                        <h5>Creative Design</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="icon_box icon_box_style4 box_shadow1">
                    <div class="icon">
                        <i class="bi bi-box"></i>                        </div>
                    <div class="icon_box_content">
                        <h5>Flexible Layouts</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="icon_box icon_box_style4 box_shadow1">
                    <div class="icon">
                        <i class="bi bi-chat-dots"></i>                        
                    </div>
                    <div class="icon_box_content">
                        <h5>Email Marketing</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION WHY CHOOSE -->

<!--section déclaration objets trouvés-->
<section class="declaration  mx-auto">
  <!-- section soumettre Objet  -->
  <div class="container row container-declaration  ">
    <div class="declaration-left col-lg-7 col-md-4 py-5">
      <h2>Je déclare un objet trouvés </h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, adipisci! Lorem ipsum dolor sit amet. </p>
    </div>
    <div class="declaration-right col-lg-4 col-md-3 ">
      <form action="" class="  ">
        <div class="mb-3">
          <label for="libelle" class="col-form-label">Libellé</label>
          <input type="text" class="form-control" id="libelle" name="libelle" >
        </div>
        <div class="mb-3">
          <label for="description" class="col-form-label">description:</label>
          <input type="text" class="form-control" id="description" name="description" >
        </div>
        <div class="mb-3">
          <label for="lieu" class="col-form-label">lieu</label>
          <input type="text" class="form-control" id="lieu" name="lieu" >
        </div>
        <div class="mb-3">
          <label for="date" class="col-form-label">date</label>
          <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="mb-3">
          <label for="image" class="col-form-label">image</label>
          <input type="file" class="form-control" id="image" name="[image]" >
        </div>
        <div class="mb-3">
          <label for="categorie_id" class="col-form-label">categorie_id</label>
          <input type="number" class="form-control" id="categorie_id" name="categorie_id">
        </div>

        <div class=" text-start d-flex justify-content-start">
          <button class="btn btn-lg btnAnnuler  px-3 py-1 mr-2 ">Annuler</button>
          <button class="btn  btn-lg  btnSoumettre  px-3 py-1 " >Déclarer</button>
        </div>

      </form>

      <!-- Test  -->
      <!-- <img [src]="image" alt=""> -->
    </div>

  </div>
  <!-- Fin Contenu  -->
</section>
<!-- Section statistiques  -->
<div class="statistiques sectionAccueil border pt-5 pb-4">
    <div class="container mx-auto">
        <div class="row mx-auto">
            <div class="col-lg-4">
                <div class="projet px-4 py-3 mb-3">
                    <h1 class="fw-bold" style="color:#001F3F;">255</h1>
                    <p style="color:white;">Objets Trouvés</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="projet px-4 py-3 mb-3">
                    <h1 class="fw-bold" style="color:#001F3F;" style="color:#001F3F;">200</h1>
                    <p style="color:white;">Objets Perdus</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="projet px-4 py-3 mb-3">
                    <h1 class="fw-bold" style="color:#001F3F;" style="color:#001F3F;">400</h1>
                    <p style="color:white;">Objets Déclarés</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

