<!-- section header visiteur -->
<header class="header shadow-sm">
    <nav class="navbar">
      <h2 class="logo">
        <a href="#"
          ><img
            src="../../../../assets/images/logo3.png"
            alt=""
            height="50px"
        /></a>
      </h2>
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" id="hamburger-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path
            d="M3 12h18M3 6h18M3 18h18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </label>
      <ul class="links">
        <li>
          <a href="#" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li>
          <a href="#" routerLink="/apropos" routerLinkActive="active">A propos</a>
        </li>
        <li>
          <a href="#" routerLink="/publicite" routerLinkActive="active">Partenariat </a>
        </li>
        <li>
          <a href="#" routerLink="/annonces" routerLinkActive="active"
            >Annonces</a
          >
        </li>
        <li>
          <a href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <div class="buttons">
        <a href="#" class="btn btn-lg px-2 py-2 text-white" style="background-color: #001F3F; height: 40px;" routerLink="/authentification" routerLinkActive="active">Se connecter</a>
      </div>
    </nav>
  </header>
<!-- section header visiteur -->

<!-- Debut de la section accueil -->



<!-- Debut section decalaration -->
<!-- <section class="mt-4"  >
  <h2 class="fw-bold text-center">Nos annonces</h2>
  <div class="decoration py-2 mb-2">
    <span class="soulignement "></span>
  </div>
  </section> -->
<!-- Banierre  -->
<div id="carouselIndicator" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  src="../../../../assets/images/banner1.png" style="margin-top: 50px !important;" class="d-block w-100">
    </div>
  </div>
</div>


  
<app-footer></app-footer>