
<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
    <div class="card ">
        <div class="iconBx">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Objets perdus</div>
        </div>
  
    </div>
  
    <div class="card">
        <div class="iconBx">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">500</div>
            <div class="cardName">Nombre visites</div>
        </div>
  
    </div>
  
    <div class="card">
        <div class="iconBx">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Objets trouvés</div>
        </div>
  
    </div>
  
    <div class="card ">
        <div class="iconBx">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Annonces </div>
        </div>
  
    </div>
  </div>
<!-- ================= New Customers ================ -->
       



<main class="container">
   
    <div class="mainBottom row container">
      <div class="mainBottomLeft bg-white rounded-4 col-lg-7 col-md-4">
        <div class="mainTop ">
          <h4 class="fw-bolder pt-3">La liste des roles</h4>
        </div>
        <table datatable [dtOptions]="dtOptions" class="table"   *ngIf="tabRoles.length>0" >
          <thead class="table-secondary rounded-top-3">
            <tr>
              <th>id</th>
              <th>Nom</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of tabRoles">
              <td>{{role.id }} </td>
              <td>{{role.nomRole }} </td>
              <td>
                <button class="btn" data-bs-toggle="modal" data-bs-target="#modifierRole"
                (click)="chargerInfosRole(role.id)"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn" (click)="SupprimerRole(role.id)"><i class="fa-solid fa-trash"></i></button>
                <!-- <button class="btn" (click)="getCategorie(categorie)"><i class="fa-solid fa-trash"></i></button> -->
              </td>
            </tr>
            
          </tbody>
        </table>
  
      </div>
      <div class="mainBottomRight  container col-lg-4 col-md-4">
        <form action="" class="bg-white px-5 rounded-2">
            <h4>Ajoutez un role ici👇🏼</h4>
            <div class="mb-3">
                <label for="role" class="form-label">Nom du role</label>
                <input type="text" name="nomRole" class="form-control" placeholder="nom du role"
                    id="role" [(ngModel)]="nomRole">
            </div>
            <div class=" text-start d-flex justify-content-start">
                <button class="btn btn-lg btnAnnuler  px-3 py-1 mr-2 ">Annuler</button>
                <button class="btn  btn-lg  btnSoumettre  px-3 py-1  " (click)="ajoutRole()">Ajouter</button>
            </div>

        </form>
      </div>
    </div>
  </main>

   <!-- Modal -->
   <div class="modal fade" id="modifierRole" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="modifierCatégorieLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="modifierCatégorieLabel">Modifier un role</h1>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="nom" class="form-label">Nom du role</label>
             <input type="text" class="form-control" id="nomRole" name="nomRole"
               placeholder="Nom du role" [(ngModel)]="nomRole">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
         <button type="button" class="btn btn-success"
             data-bs-dismiss="modal" (click)="modifierRole()">Modifier</button>
       </div>
     </div>
   </div>
 </div>
