<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
  <div class="card ">
    <div class="iconBx">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </div>
    <!-- <div>
      <div class="numbers">100</div>
      <div class="cardName">Objets perdus</div>
    </div> -->

    <div *ngIf="listeBiensPerdu">
      <div class="numbers">{{ listeBiensPerdu.length }}</div>
      <div class="cardName">Objets perdus</div>
  </div>

  </div>

  <div class="card">
    <div class="iconBx">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div *ngIf=" listeBiens">
      <div class="numbers">{{  listeBiens.length }}</div>
      <div class="cardName">Objets perdus</div>
    </div>

  </div>

  <div class="card">
    <div class="iconBx">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
    </div>
    <div *ngIf=" listeBiensHome">
      <div class="numbers">{{  listeBiensHome.length }}</div>
      <div class="cardName">Objets totals</div>
    </div>

  </div>

  <div class="card ">
    <div class="iconBx">
      <i class="fa fa-money" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">100</div>
      <div class="cardName">Annonces </div>
    </div>

  </div>
</div>

<div class="details ">
  <div class="link-rapide">
    <a type="submit" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="mdo">Ajouter
      un bien</a>
    <a class="btn " (click)="basculerBlocs2(); ">Biens perdus
      un bien</a>
    <a class="btn " (click)="basculerBlocs2(); ">Biens trouvés
      un bien</a>
  </div>
  <div class="recentOrders" *ngIf="!afficherBloc2">
<!-- ================ liste des biens trouvés ================= -->

    <div class="cardHeader">
      <h2> liste des biens trouvé</h2>
    </div>

    <table datatable [dtOptions]="dtOptions" class="row-border hover table table-responsive">
      <thead>
        <tr>
          <th>Libelle</th>
          <!-- <th>description</th> -->
          <!-- <th>Lieu</th> -->
          <th>Date</th>
          <th>Image</th>
          <!-- <th>Categories</th> -->
          <th>Type bien</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let bi of listeBiens">
          <td> {{bi.libelle}}</td>
          <!-- <td>{{bi.description}}</td> -->
          <!-- <td>{{bi.lieu}}</td> -->
          <td>{{bi.date}}</td>
          <td><img src="http://127.0.0.1:8000/imagesBiens/{{bi.image}}" alt=""
              style="width: 50px; border-radius: 100%;"> </td>
          <!-- <td>{{ bi.categorie_id}}</td> -->
          <td><button
              class="btn-link  btn-success text-white text-decoration-none rounded-2 px-2">{{bi.type_bien}}</button>
          </td>
          <td><span class="status action-icon">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <i class="bi bi-eye-fill" (click)="getObject(bi)"></i>
              </a>
              <a id="btn-modal-edit" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo"> <i
                  class="bi bi-pencil-square" (click)="chargerInfosBien(bi)"></i> </a>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <!-- liste des biens perdus -->
  <div class="recentOrders" *ngIf="afficherBloc2">

    <div class="cardHeader">
      <h2> liste des biens perdus</h2>
    </div>

    <table datatable [dtOptions]="dtOptions" class="row-border hover table text-left">
      <thead>
        <tr>
          <th>Libelle</th>
          <!-- <th>description</th> -->
          <!-- <th>Lieu</th> -->
          <th>Date</th>
          <th>Image</th>
          <!-- <th>Categories</th> -->
          <th>Type bien</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let bi of listeBiensPerdu">
          <td> {{bi.libelle}}</td>
          <!-- <td>{{bi.description}}</td> -->
          <!-- <td>{{bi.lieu}}</td> -->
          <td>{{bi.date}}</td>
          <td><img src="http://127.0.0.1:8000/imagesBiens/{{bi.image}}" alt=""
              style="width: 50px; border-radius: 100%;"> </td>
          <!-- <td>{{ bi.categorie_id}}</td> -->
          <td><button
              class="btn-link  btn-success text-white text-decoration-none rounded-2 px-2">{{bi.type_bien}}</button>
          </td>
          <td><span class="status action-icon">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="getObject(bi)">
                <i class="bi bi-eye-fill"></i>
              </a>
              <a id="btn-modal-edit" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo"> <i
                  class="bi bi-pencil-square" (click)="chargerInfosBien(bi.id)"></i> </a>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- ================ liste des biens perdus ================= -->


<!-- <button type="button" class="btn btn-primary">Modifier</button> -->

<!-- //ajoutDemande -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content px-3 py-3" >
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Ajouter un bien</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="libelle" class="col-form-label">Libellé <span class="required">*</span></label>
            <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle" (input)="verifLibelleFonction()">
            <p class="text-danger" *ngIf="!exactLibelle" style="font-size: 11px;">{{verifLibelle}}</p>
            <p class="text-success" *ngIf="exactLibelle" style="font-size: 11px;"><i class="bi bi-check2-all"></i> Exact !</p>
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">description <span class="required">*</span></label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description" (input)="verifDescriptionFonction()">
            <p class="text-danger" *ngIf="!exactDescription" style="font-size: 11px;">{{verifDescription}}</p>
            <p class="text-success" *ngIf="exactDescription" style="font-size: 11px;"><i class="bi bi-check2-all"></i> Exact !</p>
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Categorie de bien <span class="required">*</span></label>
            <select class="form-select" aria-label="Default select example" name="[type_bien]" [(ngModel)]="type_bien">
              <option value="bien perdu">Bien perdu</option>
              <option value="bien trouve">Bien trouve</option>
            </select>
          </div>
         
          <div class="mb-3">
            <label for="date" class="col-form-label">date</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date" [max]="currentDate">
          </div>
          <div class="mb-3">
            <label for="image" class="col-form-label">image</label>
            <input type="file" class="form-control" id="image" name="image" (change)="getFile($event)">
          </div>
          <div class="mb-3">
            <label for="categorie" class="form-label">Categorie <span class="required">*</span></label>
            <select class="form-select" aria-label="Default select example" name="categorie" [(ngModel)]="categorie_id">
              <option selected>Selectionner une categorie</option>
              <option *ngFor="let categorie of categories" [value]="categorie.id">
                {{ categorie.nom }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="lieu" class="col-form-label">lieu <span class="required">*</span></label>
            <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu"(input)="verifLieuFonction()">
            <p class="text-danger" *ngIf="!exactLieu" style="font-size: 11px;">{{verifLieu}}</p>
            <p class="text-success" *ngIf="exactLieu" style="font-size: 11px;"><i class="bi bi-check2-all"></i> Exact !</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="ajoutBien()" style="background-color:#2ECC71;" *ngIf="exactLibelle === true && exactDescription === true && exactLieu===true  ">Envoyer</button>
        <button type="button" class="btn " data-bs-dismiss="modal" (click)="ajoutBien()" style="background-color:#c3c7c5;" *ngIf="exactLibelle == false  || exactDescription==false ||exactLieu==false "  >Envoyer</button>
      </div>
    </div>
  </div>
</div>

<!-- //modifier demande -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modification bien</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="libelle" class="col-form-label">Libellé</label>
            <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">description:</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
          </div>
          <div class="mb-3">
            <label for="lieu" class="col-form-label">lieu</label>
            <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Categorie de bien <span class="required">*</span></label>
            <select class="form-select" aria-label="Default select example" name="[type_bien]" [(ngModel)]="type_bien">
              <option value="bien perdu">Bien perdu</option>
              <option value="bien trouve">Bien trouve</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="date" class="col-form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date">
          </div>
          <div class="mb-3">
            <label for="image" class="col-form-label">image</label>
            <input type="file" class="form-control" id="image" name="image" (change)="getFile($event)">
          </div>
          <div class="mb-3">
            <label for="categorie" class="form-label">Categorie <span class="required">*</span></label>
            <select class="form-select" aria-label="Default select example" name="categorie" [(ngModel)]="categorie_id">
              <option selected>Selectionner une categorie</option>
              <option *ngFor="let categorie of categories" [value]="categorie.id">
                {{ categorie.nom }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button type="button" class="btn btn-primary" (click)="editerBien()">Envoyer</button>
      </div>
    </div>
  </div>
</div>


<!--details demande-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détails bien </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <h3>{{bienSelectionner.libelle}}</h3>
        <h5>{{bienSelectionner.description}}</h5>
        <h5>{{bienSelectionner.lieu}}</h5>
        <h5>{{bienSelectionner.type_bien}}</h5>
        <h5>{{bienSelectionner.image}}</h5>
        <h5>{{bienSelectionner.categorie_id}}</h5>
        <!-- <h5>{{bienSelectionner.statutUpdate}}</h5> -->
      </div>
    </div>
  </div>
</div>