<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
  <div class="card ">
    <div class="iconBx">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">100</div>
      <div class="cardName">Objets perdus</div>
    </div>

  </div>

  <div class="card">
    <div class="iconBx">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">500</div>
      <div class="cardName">Nombre visites</div>
    </div>

  </div>

  <div class="card">
    <div class="iconBx">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">284</div>
      <div class="cardName">Objets trouvés</div>
    </div>

  </div>

  <div class="card ">
    <div class="iconBx">
      <i class="fa fa-money" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">100</div>
      <div class="cardName">Annonces </div>
    </div>

  </div>
</div>

<!-- ================ contenu tableau gestion demande ================= -->
<div class="details">
  <div class="link-rapide">
    <a type="submit" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="mdo">Ajouter
      un bien</a>
  </div>
  <div class="recentOrders">

    <div class="cardHeader">
      <h2>Listes des biens déclarés</h2>
    </div>

    <table datatable [dtOptions]="dtOptions" class="row-border hover table text-left" *ngIf="listeBiens.length>0">
      <thead>
        <tr>
          <th>Libelle</th>
          <th>description</th>
          <th>Lieu</th>
          <th>Date</th>
          <th>Image</th>
          <th>Categories</th>
          <th>Statut</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let bi of listeBiens">
          <td> {{bi.libelle}}</td>
          <td>{{bi.description}}</td>
          <td>{{bi.lieu}}</td>
          <td>{{bi.date}}</td>
          <td><img src="http://127.0.0.1:8000/imagesBiens/{{bi.image}}"  alt="" style="width: 50px; border-radius: 100%;"> </td>
          <td>{{bi.categorie_id}}</td>
          <td><button class="btn btn-success">{{bi.statut}}</button></td>
          <td><span class="status action-icon">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="getBienById(bi.id)">
                <i class="bi bi-eye-fill"></i>
              </a>
              <a id="btn-modal-edit" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo"
                > <i class="bi bi-pencil-square" (click)="chargerInfosBien(bi)"></i> </a>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
    <table class=" table text-left" *ngIf="listeBiens.length<0">
      <thead>
        <tr>
          <th>Libelle</th>
          <th>Description</th>
          <th>Lieu</th>
          <th>date</th>
          <th>Image</th>
          <th>Categorie_id</th>
          <th>statut</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td colspan="5" class="text-center"> aucune demande est disponible</td>

        </tr>

      </tbody>
    </table>

  </div>
</div>




<!-- <button type="button" class="btn btn-primary">Modifier</button> -->

<!-- //ajoutDemande -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un bien</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="libelle" class="col-form-label">Libellé</label>
            <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">description:</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
          </div>
          <div class="mb-3">
            <label for="lieu" class="col-form-label">lieu</label>
            <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu">
          </div>
          <div class="mb-3">
            <label for="date" class="col-form-label">date</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date">
          </div>
          <div class="mb-3">
            <label for="image" class="col-form-label">image</label>
            <input type="file" class="form-control" id="image" name="image" (change)="getFile($event)" >
          </div>
          <div class="mb-3">
            <label for="categorie_id" class="col-form-label">categorie_id</label>
            <input type="number" class="form-control" id="categorie_id" name="categorie_id" [(ngModel)]="categorie_id">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button type="button" class="btn btn-primary" (click)="ajoutBien()">Envoyer</button>
      </div>
    </div>
  </div>
</div>


<!--details demande-->
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détails demandes </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="bienSelectionner">
        <h3>{{bienSelectionner.libelleUpdate}}</h3>
        <h5>{{bienSelectionner.descriptionUpdate}}</h5>
        <h5>{{bienSelectionner.lieuUpdate}}</h5>
        <h5>{{bienSelectionner.imageUpdate}}</h5>
        <h5>{{bienSelectionner.categorie_idUpdate}}</h5>
        <h5>{{bienSelectionner.statutUpdate}}</h5>
      </div>
    </div>
  </div>
</div>


<!-- //modifier demande -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modification bien</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="libelle" class="col-form-label">Libellé</label>
            <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="libelle">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">description:</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
          </div>
          <div class="mb-3">
            <label for="lieu" class="col-form-label">lieu</label>
            <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu">
          </div>
          <div class="mb-3">
            <label for="date" class="col-form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date">
          </div>
          <div class="mb-3">
            <label for="image" class="col-form-label">image</label>
            <input type="file" class="form-control" id="image" name="image" (change)="getFile($event)" >
          </div>
          <div class="mb-3">
            <label for="categorie_id" class="col-form-label">categorie_id</label>
            <input type="number" class="form-control" id="categorie_id" name="categorie_id" [(ngModel)]="categorie_id">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button type="button" class="btn btn-primary" (click)="editerBien()">Envoyer</button>
      </div>
    </div>
  </div>
</div>