

<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
    <div class="card ">
        <div class="iconBx">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Objets perdus</div>
        </div>
  
    </div>
  
    <div class="card">
        <div class="iconBx">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">500</div>
            <div class="cardName">Nombre visites</div>
        </div>
  
    </div>
  
    <div class="card">
        <div class="iconBx">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Objets trouvés</div>
        </div>
  
    </div>
  
    <div class="card ">
        <div class="iconBx">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Annonces </div>
        </div>
  
    </div>
  </div>