@import url('../../../dashboard-admin/components/accueil-admin/accueil-admin.component.css');
@import '../../pages/confidentialite/confidentialite.component.css';


.btnActive{
    background-color: #007A64;
    color: white;
}

.recherche .ligne{
   margin-left: 150px ;
   padding: 0;
}
.recherche input{
    border: 2px solid #2ECC71;
    /* border-right: none; */
}

.recherche .btn{
    border-left: none; 
    color: #ffffff ;
    background-color: #001F3F;
    width: 40px;
}

#btn-det{

}
#btn-com{
  margin-top: -11px;

}


/* Menu filtre des projets  */
.menuFiltre .btn{
    width: 26vh;
    border-bottom: 2px solid #F09E4D;
    border-radius: 0;
}

.menuFiltre .filtreActive{
    background-color: #F09E4D;
    color: white;
}


/* section objets perdus récente */
.container-objet{
    margin-top: 8% !important;
    background-color: #001F3F !important;
}
.row-objets{
    margin: 0 auto !important;
    margin-left: 10rem !important;
    gap: 10px;
    width: 70rem !important;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
    height: 15rem;
}

.inner:hover img{
    transform: scale(1.5);
}

#grid-objet {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  #grid-objet {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #grid-objet {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #grid-objet {
      grid-template-columns: repeat(1, 1fr);
  }
  }




















