<!-- =============== Navigation ================ -->
<div class="">
    <div [ngClass]="status ? 'active' : ''" class="navigation">
        <ul>
            <li>
                <a href="#">

                    <img class="icon " src="../../../assets/images/logoblanc.png" alt="" style="width: 100px ; height: 100px; margin:10px auto;">
                </a>
            </li>

            <li  (click)="handleClick()">
                <a href="#" [routerLink]="['accueilutilisateurs']" routerLinkActive="active-link">
                    <span class="icon">
                        <i class="bi bi-microsoft" aria-hidden="true"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li >

            <li  (click)="handleClick()">
                <a [routerLink]="['mes-objets']" routerLinkActive="active-link">
                    <span class="icon">
                        <i class="bi bi-people-fill" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Mes objets </span>
                </a>
            </li>

            <li  (click)="handleClick()">
                <a [routerLink]="['mes-messages']" routerLinkActive="active-link">
                    <span class="icon">
                        <i class="bi bi-envelope-plus-fill" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Messages</span>
                </a>
            </li>

            <li  (click)="handleClick()">
                <a [routerLink]="['mes-demandes']" routerLinkActive="active-link">
                    <span class="icon">
                        <i class="bi bi-palette2" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Partenariat</span>
                </a>
            </li>
            
            <li  (click)="handleClick()">
                <a [routerLink]="['./myprofil-user']"  routerLinkActive="active-link">
                    <span class="icon">
                        <i class="bi bi-file-earmark-richtext-fill" aria-hidden="true"></i>
                    </span>
                    <span class="title"> Profil</span>
                </a>
            </li>


            <li  (click)="handleClick()">
                <a class="btn" (click)="logout()" routerLinkActive="active-link">
                    <span class="icon">
                        <i class="bi bi-box-arrow-left" aria-hidden="true"></i>
                    </span>
                    <span class="title">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div [ngClass]="status ? 'active' : ''" class="main">
        <div class="topbar">
            <div class="toggle" (click)="addToggle()">
                <i class="bi bi-list text-white" aria-hidden="true"></i>
            </div>
            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>