

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  
  .username h3 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 25px 10px 0 0;
    position: relative;
  }
  
  #container-avatar {
    float: left;
    height: 72px;
    width: 72px;
  }
  
  #container-avatar img {
    border: 4px solid #eeeeee;
    border-radius: 100px;
    display: block;
    height: 72px;
    width: 72px;
  }
  
  #container-avatar #badge {
    align-items: center;
    background: #f68867;
    border-radius: 100px;
    color: #fff;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    height: 27px;
    justify-content: center;
    margin: 0 0 0 45px;
    position: absolute;
    text-align: center;
    width: 27px;
  }
  
  #container-avatar .entypo-menu {
    float: right;
    font-size: 20px;
    margin: -45px -25px 0 20px;
  }
  
  .username:hover .nav, .entypo-menu:hover .nav {
    opacity: 1;
    visibility: visible;  
  }
  
  .username:hover .entypo-menu {
    color: #6bc6d8;
    transition: all .15s;
  }
  
  .bo{
      margin-left: 20px;
      margin-top: 10vh;
      background-color: #2ecc70;
      font-size: 18px;
      border: 0;
      font-weight: 700;
      height: 50px;
      color: #001F3F;
  
  
  }
  
  .nav {
    opacity: 0;
    position: relative;
    top: 0;
    transform: translate3d(0, 0, 0,);
    transition: all .15s;
    visibility: hidden;
  }
  
  .nav ul {
    background: #797979;
    border-radius: 4px;
    color: #efefef;
    float: left;
    font-size: 13px;
    left: -35px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 15px;
  }
  
  .nav ul li:first-child:after {
    border-bottom: 10px solid #797979;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 37px;
    top: -10px;
    width: 0;
  }
  
  .nav ul li:first-child:hover:after {
    border-bottom: 10px solid #f68867;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 37px;
    top: -10px;
    width: 0;
  }
  
  .nav ul li {
    border-bottom: 1px solid rgba(204, 204, 204, .3);
    left: -50px;
    padding: 15px;
  }
  
  .nav ul li:last-child {
    border: 0;
  }
  
  .nav ul li span {
    margin: 0 14px 0 0;
  }
  
  .nav ul li:hover {
    background: #f68867;
    border-bottom: 1px solid #f68867;
    cursor: pointer;
  }
  
  .nav ul li a {
    color: #efefef;
  }