<!-- ======================= Carte statstique ================== -->
<div class="cardBox">
  <div class="card ">
    <div class="iconBx">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">100</div>
      <div class="cardName">Objets perdus</div>
    </div>

  </div>

  <div class="card">
    <div class="iconBx">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">500</div>
      <div class="cardName">Nombre visites</div>
    </div>

  </div>

  <div class="card">
    <div class="iconBx">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">284</div>
      <div class="cardName">Objets trouvés</div>
    </div>

  </div>

  <div class="card ">
    <div class="iconBx">
      <i class="fa fa-money" aria-hidden="true"></i>
    </div>
    <div>
      <div class="numbers">100</div>
      <div class="cardName">Annonces </div>
    </div>

  </div>
</div>

<!-- ================ contenu tableau gestion demande ================= -->
<div class="details">
  <div class="link-rapide">
    <a type="submit" [routerLink]="['../mes-demandes']" class="btn " data-bs-toggle="modal"
      data-bs-target="#exampleModal1" data-bs-whatever="mdo">Ajouter une demande</a>
  </div>
  <div class="recentOrders">

    <div class="cardHeader">
      <h2>Listes demande partenariats</h2>
    </div>

    <table datatable [dtOptions]="dtOptions" class="row-border hover table text-left" >
      <thead>
        <tr>
          <th>Nom</th>
            <th>Image</th>
            <th>Date Debut</th>
            <th>Date Fin</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Etat</th>
            <th>Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let pub of listePubs">
          <td>{{pub.nom }} </td>
            <td> <img src="http://127.0.0.1:8000/imagesPubs/{{pub.image }}" alt=""
                style="width: 50px; height: 50px; border-radius: 100%;"></td>
            <td>{{pub.date_debut}} </td>
            <td>{{pub.date_fin}} </td>
            <td>{{pub.email}} </td>
            <td>{{pub.phone}} </td>
            <td>{{pub.etat}} </td>
          <td><span class="status action-icon">
              <a data-bs-toggle="modal" data-bs-target="#detailDemande" (click)="detailPub(pub.id)">
                <i class="bi bi-eye-fill"></i>
              </a>
              <a id="btn-modal-edit" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                <i class="bi bi-pencil-square" (click)="chargerInfosPub(pub)"></i>
              </a>
              
            </span>
          </td>
        </tr>

      </tbody>
    </table>
    <!-- <table  class=" table text-left" *ngIf="listeDemandes.length<0">
            <thead>
                <tr>
                    <th>Duree</th>
                    <th>Dtétails</th>
                    <th>Email</th>
                    <th>Etats</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td colspan="5" class="text-center"> aucune demande est disponible</td>

                </tr>

            </tbody>
        </table> -->
<!-- //modifier demande -->
<div class="modal fade" id="exampleModal" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifierDemande">Modifier ma demande</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="media" class="form-label">image de la pub </label>
            <input type="file" class="form-control" id="media" name="image" placeholder="image de la pub"
              (change)="getFile($event)">
          </div>
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="pub" [(ngModel)]="nom">
          </div>
          <div class="mb-3">
            <label for="date_debut" class="form-label">Date de début</label>
            <input type="date" class="form-control" id="date_debut" name="date_debut"
              placeholder="date de fin de la pub" [(ngModel)]="date_debut">
          </div>
          <div class="mb-3">
            <label for="date_fin" class="form-label">Date de début</label>
            <input type="date" class="form-control" id="date_fin" name="date_fin" placeholder="date de fin de la pub"
              [(ngModel)]="date_fin">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email beneficiaire</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="email perso ou pro"
              [(ngModel)]="email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">phone beneficiaire</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="phone perso ou pro"
              [(ngModel)]="phone">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button type="button" class="btn btn-primary" (click)="editerPub()">Envoyer</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>




<!-- <button type="button" class="btn btn-primary">Modifier</button> -->

<!-- //ajoutDemande -->
<div class="modal fade" id="exampleModal1" tabindex="-3" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="media" class="form-label">image de la pub </label>
            <input type="file" class="form-control" id="media" name="image" placeholder="image de la pub"
              (change)="getFile($event)">
          </div>
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="pub" [(ngModel)]="nom">
          </div>
          <div class="mb-3">
            <label for="date_debut" class="form-label">Date de début</label>
            <input type="date" class="form-control" id="date_debut" name="date_debut"
              placeholder="date de fin de la pub" [(ngModel)]="date_debut">
          </div>
          <div class="mb-3">
            <label for="date_fin" class="form-label">Date de début</label>
            <input type="date" class="form-control" id="date_fin" name="date_fin" placeholder="date de fin de la pub"
              [(ngModel)]="date_fin">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email beneficiaire</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="email perso ou pro"
              [(ngModel)]="email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">phone beneficiaire</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="phone perso ou pro"
              [(ngModel)]="phone">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button type="button" class="btn btn-primary" (click)="ajoutPub()">Envoyer</button>
      </div>
    </div>
  </div>
</div>


<!--details demande-->





<!-- Modal -->
<div class="modal fade" id="detailDemande" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détails publicité </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="pubSelctionner">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0 text-center" *ngIf="pubSelctionner">
            <div class="col-lg-12">
              <img src="http://127.0.0.1:8000/imagesPubs/{{pubSelctionner.image }}" class="img-fluid rounded-start"
                alt="..."  (change)="getFile($event)">
            </div>
            <div class="col-lg-12 col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{pubSelctionner.nom}}</h5>
                <p class="card-text">{{pubSelctionner.email}}</p>
                <p class="card-text"><small class="text-body-secondary">{{pubSelctionner.date_debut}} -
                    {{pubSelctionner.date_fin}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>