/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    list-style-type:none;
    }    
    :root{
        --vert:#2ECC71;
    }
 

.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link{
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-toggler{
    background: #fff;
    outline: none !important;
    font-size: 18px;
    line-height: 0.3;
    padding: 1px 5px;
}

.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: 5px;
}

/*section banner*/
  .carousel-item{
   
}

.carousel-item img{
    background-size: cover;
}

.carousel-caption{
    bottom: 40%;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1.7px;
}

.carousel-caption p{
    width: 100%;
    margin: auto;
    font-size: 18px;
}

/* image apropos  */
.sectionAccueil{
    /* margin-top: -10% !important; */
}
#content-apropos{
    height:auto!important;
    margin: 0 auto !important;


}
#about-img{
    height: 100% !important;
    /* border:4px solid blueviolet !important; */
    width: 50% !important;
}
#about-img img{
    width: 100% !important;


}
#about-text{   
    height: 60% !important;
   margin-top: 30px;
   

}
#title-apropos{
    color:#2ECC71 !important ;
    margin-top: 20px;
}
#about h5{
    color:#2ECC71 !important;
}
#about-text p{   

font-size: 18px !important;
text-align: justify;

}

/* section objets perdus récente */


/* ce que vous devez savoir */
.quote{
    margin-top: 3%;
    margin-bottom: 2%;
}
.quote h3{
    line-height: 1;
    margin-bottom: 3rem;
}
.container_quote{
    display: grid;
    grid-template-columns: 40% 60% !important;
    gap: 4rem;
}
.quote-left{
    margin-right: 4rem;
    margin-top: 5rem;
    text-align: justify;
    
}

.quote-left p{
    margin: 1rem 0 3rem !important;
    font-size: 15px !important;

}
.quote-right{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 1.2rem !important;
width: 80% !important;
margin-left: 11.5rem !important;

}
.card-quote{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 2rem;
    transition: all 400ms ease;
    border: 2px solid #2ECC71;
    color: #2ECC71;
    width: 70% !important;
    height: 10rem !important;
    /* margin: 0 auto; */
    text-align: center;
   
}
.card-quote:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #2ECC71;
    color: white;
    z-index: 1;
}
/* .card-quote h5{
    margin: 2rem 0 1rem;
    color: #;
} */

.card-quote h5{


}

.card-quote p{
font-size: 0.85rem;

}
.quote-icone{
    /* background-color: #a2a0a0; */
    padding: 0.7rem;
    border-radius: 1rem;
    font-size: 28px;
    text-align: center;
}

/*section déclaration objets  trouvé */
.declaration {
    /* border: 2px solid rgb(21, 0, 255) !important; */
    background-image: url('../../../../assets/images/alerteObjet.png');
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
}
.declaration .container-declaration{
    padding: 2rem;
    margin: 0 auto;
    gap: 5rem;
}
.declaration .declaration-left {
    /* border: 2px solid green ; */

}
.declaration .declaration-right {
    /* border: 2px solid rgb(215, 21, 186) ; */
    background-color: #fff;
    border-radius: 1rem;
 
}
.declaration .declaration-right form {
    /* margin: 1rem 0 3rem !important;m0 */
    margin: 0 auto;
    padding: 1rem;
}

.declaration .declaration-right form label {
    color: #001F3F;
}
.declaration .declaration-right form input::placeholder {
    color: #ffffff;
    font-size: 12px;
}
.declaration .declaration-right form input {
    /* background-color: #001f3f76; */
    color: white;
    /* padding:5%; */
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #001F3F;


}
.declaration .declaration-right form  #imageObjet{
    background-color: 0;
}
.declaration .declaration-right form .btn {
    background-color: #001F3F;
    color: white;

}
/* /*section publicité */
.publicite{
    /* border: 2px solid ; */
    /* mediaquiries */
    /* height:9.1rem; */
    /* height:35.9rem; */
    /* margin: 5% auto; */
margin: 0 auto;}




/* code carte dernier modif css */
@import url('../../../dashboard-admin/components/accueil-admin/accueil-admin.component.css');

.btnActive{
    background-color: #007A64;
    color: white;
}

.recherche .ligne{
   margin-left: 150px !important;
}
.recherche input{
    border: 2px solid #2ECC71;
    /* border-right: none; */
}

.recherche .btn{
    border-left: none; 
    color: #ffffff ;
    background-color: #001F3F;
    width: 40px;
}

#title-section{
    color: #2ECC71;
}

#btn-det{
  /* border:2px solid rgb(43, 0, 255) !important; */
  width: 100px !important;
  background-color: #001F3F; color:#fff
}
#btn-com{
  /* border:2px solid red !important; */
  width: 30px !important;
  height:30px;
  background-color: #001F3F; 
  color:#fff;
  margin-top: -11px;

}
/* Menu filtre des projets  */
.menuFiltre .btn{
    width: 26vh;
    border-bottom: 2px solid #F09E4D;
    border-radius: 0;
}

.menuFiltre .filtreActive{
    background-color: #F09E4D;
    color: white;
}


/* section objets perdus récente */
.container-objet{
    margin-top: 8% !important;
    background-color: #001F3F !important;
}
.row-objets{
    margin: 0 auto !important;
    margin-left: 10rem !important;
    gap: 10px;
    width: 70rem !important;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
    height: 15rem;
}

.inner:hover img{
    transform: scale(1.5);
}


/* srcion card modif 2 */
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .grid-row {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .product {
    width: 25%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  
  .product--card {
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .product .product--image:hover img {
    transform: scale(1.5);

  }
  .product .product--image {
    padding-bottom: 81.88%;
    position: relative;
    border-bottom: 1px solid #ddd;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    overflow: hidden;
    height: 0;
    transition: all 1.5s ease;
  }
  
  .img-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .product--title {
    display: block;
    color: #333;
    padding-bottom: 0 !important;
    text-decoration: none;
    padding: 20px;
  }
  
  .product--brand {
    color: #777;
    display: block;
    padding-top: 0 !important;
    padding: 20px;
    flex: 1 0 auto;
  }
  
  .product a {
    color: inherit;
    text-decoration: none;
    display: block;
  }
  
  .product .product--price {
    padding-top: 0 !important;
    padding: 20px;
  }
  
  .product .price--sell-price, 
  .product .price--discount-price {
    font-size: 1.5rem;
  }
  
 
  
  .product .product--price .was-price, 
  .product .product--price .price--rrp {
    font-size: 1rem;
  }

  .product--price-inner{
    /* border: 4px solid orangered; */
    height:40px;
  }
  
  

  /* section testimonials des utilisateurs  */
  .card{
    
    border:none;
  }
  .user-content h5{
    margin-top:10px;
   
  }
  .user-content p{
    margin-top:15px;
    font-size:12px;
  }
  .user-image img{
    width: 60px;
    height: 60px;
  }
  .user-image img{
    width: 60px;
    height: 60px;
  }





.card-contenu{
    width: 80%;
    gap: 20px;
    display: flex;
    padding: 0;
    margin:  auto;
}
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px auto;
  max-width: 310px;
  min-width: 150px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #001F3F;

}
.content-testimonial{
    /* border: 2px solid red; */
    margin:8vh auto !important;
    /* width: 5vh; */
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #001F3F;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  /* left: 50%; */
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  /* margin: 0 0 20px; */
}

/* medias queries */
@media screen and (max-width:900px){
    .publicite{
        /* mediaquiries */
        height:9.1rem;

    }
    
}
@media screen and (max-width: 768px){
    .row-objets{
        width:100% !important;
        margin-left: 2px !important  ;
    }
    .col-objet{
        width: 100% ;
    }
    .navbouton button{
        font-size: 14px;
    }
   
    .quote-left{
       margin-left: 0 ;
        width: 25.8rem !important;
        margin-top: 0;
    }
    .quote-right{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 25.8rem !important;
        /* border: 2px solid blue !important; */
        gap: 1.2rem !important;
        width: 80% !important;
        margin-left:-12rem!important;
        margin-top: 60%;
        align-items: center !important;
        
    }
 
   #about-text .card-text{
        padding: 20px;
   }
   #about-text h5{
        text-align: center;
   }
   #about-img{
    margin-top: 20px;
   }
 
}

@media screen and (max-width: 500px){

    .quote{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;       
     text-align: center;
        margin: 0 auto !important;
        height: auto;
        border: #2ECC71 2px solid !important;
    }
   .card-contenu{
    display: flex;
    flex-direction: column;
    
} 

}




  
 