<!-- background accueil -->
<app-header></app-header>
<!-- Banierre  -->
<div id="carouselIndicator" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/banner1.png" style="margin-top: 50px !important;" class="d-block w-100">
    </div>
  </div>
</div>
<!-- Section propos de sama gokh  -->
<div class="aproposEureka container mx-auto">
  <div class="heading_s1 text-center ">
    <h3 class="mt-3 py-4  mb-3" >Apropos de Eureka</h3>
  </div>
  <div class="card mb-3 border-0">
    <div class="row g-0">
      <div class="col-lg-6">
        <img src="../../../../assets/images/about2-05-05.png" class="img-fluid rounded-2" alt="...">
      </div>
      <div class="col-lg-6">
        <div class="card-body p-4">


          <h5 class="card-title fw-bold " >C'est quoi EUREKA ?</h5>
          <p class="card-text">Eureka est une plateforme en ligne qui permet à une commune d'impliquer ses habitants
            dans sa gestion (prise de décision sur des projets à réaliser dans la ville). </p>
          <p class="card-text">Concrètement, l'idée est de mettre à la connaissance des populations l’ensemble des
            projets de la commune dans le but de recueillir leurs avis à travers des votes en ligne.</p>
          <p class="card-text">Sama Gokh est la plateforme qui donne la parole aux habitants pour façonner l'avenir de
            leur commune. </p>
          <p class="card-text">Sama Gokh est bien plus qu'une plateforme en ligne. C'est un espace dédié à l'expression
            collective des habitants, une vitrine où chaque voix compte dans la construction de l'avenir de notre
            commune.</p>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="heading_s1 text-center">
      <h3>Objets déclarés</h3>
    </div>
<div class="grid mx-auto container gap-3  " id="grid-objet" >
      <div class="item " *ngFor="let bi of listeBiensHome">
        <div class="product">
          <span class="pr_flash">{{bi.type_bien}}</span>
          <div class="product_img">
            <a href="shop-product-detail.html">
              <img src="http://127.0.0.1:8000/imagesBiens/{{bi.image}}" alt="product_img3" class="w-100 image">
            </a>
            <div class="product_action_box">
              <ul class="list_none pr_action_btn">
                <li>
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#editAnnonce" (click)="detailBien(bi.id)">
                    <i class="bi bi-eye"></i>
                  </a>
                </li>
                <li>
                  <a (click)="messageWhatshap(bi.userPhone)">
                    <i class="bi bi-whatsapp"></i>
                  </a>
                </li>
                <li>
                  <a (click)="sendMessage()">
                    <i class="bi bi-chat-left-dots-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product_info">
            <h6 class="product_title">{{bi.libelle}}</h6>
            <div class="product_price">
              <span class="price">{{bi.description}}</span>
            </div>
            <div class="product_price">
              <p class="date text-secondary">{{bi.date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>





  <!-- Modal pour details bien-->
  <div class="modal fade" id="editAnnonce" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editPubLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mo">
    <div class="modal-content mx-auto">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détails de la publicité</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row  text-center d-flex" *ngIf="bienSelectionner.id">
            <div class="col-lg-6">
              <img src="http://127.0.0.1:8000/imagesBiens/{{bienSelectionner.image}}" class="w-100  rounded-start"
                alt="...">
            </div>
            <div class="col-lg-6 col-md-8">
              <div class="card-body">
                <h3 class="card-title">{{bienSelectionner.libelle}}</h3>
                <p class="card-text">{{bienSelectionner.description}}</p>
                <p class="card-text"><small class="text-body-secondary">{{bienSelectionner.type_bien}}
                   </small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- START SECTION WHY CHOOSE -->
<div class="section  pb_70 ">
  <div class="container  mx-auto">
    <div class="row justify-content-center ">
      <div class="col-lg-6 col-md-8">
        <div class="heading_s1 text-center">
          <h2>Pourquoi faire une déclaration?</h2>
        </div>
        <p class="text-center leads">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <div class="icon_box icon_box_style4 box_shadow1">
          <div class="icon">
            <i class="bi bi-info-circle-fill"></i>
          </div>
          <div class="icon_box_content">
            <h5>Creative Design</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
              suffered alteration in some form</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="icon_box icon_box_style4 box_shadow1">
          <div class="icon">
            <i class="bi bi-box"></i>
          </div>
          <div class="icon_box_content">
            <h5>Flexible Layouts</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
              suffered alteration in some form</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="icon_box icon_box_style4 box_shadow1">
          <div class="icon">
            <i class="bi bi-chat-dots"></i>
          </div>
          <div class="icon_box_content">
            <h5>Email Marketing</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
              suffered alteration in some form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SECTION WHY CHOOSE -->

<!--section déclaration objets trouvés-->
<section class="declaration  mx-auto">
  <!-- section soumettre Objet  -->
  <div class="container row container-declaration  ">
    <div class="declaration-left col-lg-7 col-md-4 col-sm-12 py-5 text-lg-start text-md-start text-sm-start ">
      <h2>Déclaration d'objet trouvé ou perdu
      </h2>
      <p class=" text-white " >Bienvenue sur notre plateforme de déclaration d'objets trouvés <br> ou perdus. Si vous avez trouvé un objet appartenant à quelqu'un <br> <br> d'autre ou si vous avez perdu quelque chose, veuillez remplir <br> le formulaire ci-dessous pour nous aider à résoudre cette situation. </p>
    </div>
    <div class="declaration-right col-lg-4 col-md-6 col-sm-12  ">
      <form action="" class="  ">
        <div class="mb-3">
          <label>Libelle <span class="required">*</span></label>
          <input type="text" class="form-control text-black" id="libelle" name="libelle" [(ngModel)]="libelle" (input)="verifLibelleFonction()">
          <p class="text-danger" *ngIf="!exactLibelle" style="font-size: 9px;">{{verifLibelle}}</p>
          <p class="text-success" *ngIf="exactLibelle" style="font-size: 9px;"><i class="bi bi-check2-all"></i> Exact !</p>  
        </div>
        <div class="mb-3">
          <label>Description <span class="required">*</span></label>
          <input type="text" class="form-control text-black" id="description" name="description" [(ngModel)]="description" (input)="verifDescriptionFonction()"> 
          <p class="text-danger" *ngIf="!exactDescription" style="font-size: 9px;">{{verifDescription}}</p>
          <p class="text-success" *ngIf="exactDescription" style="font-size: 9px;"><i class="bi bi-check2-all"></i> Exact !</p>  
        </div>
        <div class="mb-3">
          <label for="description" class="col-form-label">Categorie de bien <span class="required">*</span></label>
          <select class="form-select" aria-label="Default select example" name="[type_bien]" [(ngModel)]="type_bien">
            <option value="bien perdu">bien_perdu</option>
            <option value="bien trouve">bien_trouve</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="date" class="col-form-label">date <span class="required">*</span></label>
          <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date" [max]="currentDate">
        </div>
        <div class="mb-3">
          <label>Lieu <span class="required">*</span></label>
          <input type="text" class="form-control text-black" id="lieu" name="lieu" [(ngModel)]="lieu" (input)="verifLieuFonction()">
        </div>
        <div class="mb-3">
          <label for="image" class="col-form-label">Image</label>
          <input type="file" class="form-control text-black" id="image" name="[image]" (change)="getFile($event)" >
        </div>
        <div class="mb-3">
          <label for="categorie" class="form-label">Categorie <span class="required">*</span></label>
          <select
          class="form-select text-black"
          aria-label="Default select example"
          name="categorie"
          [(ngModel)]="categorie_id" (input)="verifCategorieFonction()">
          <option selected>Selectionner une categorie</option>
          <option *ngFor="let categorie of categories" [value]="categorie.id">
              {{ categorie.nom }}
          </option>
          </select>
        </div>

        <div class=" text-start d-flex justify-content-start">
          <button class="btn btn-lg btnAnnuler  px-3 py-1 mr-2 ">Annuler</button>
          <button class="btn  btn-lg  btnSoumettre  px-3 py-1 " (click)="ajoutBien()">Déclarer</button>
        </div>

      </form>

      <!-- Test  -->
      <!-- <img [src]="image" alt=""> -->
    </div>

  </div>
  <!-- Fin Contenu  -->
</section>
<!-- Section statistiques  -->
<div class="statistiques sectionAccueil border pt-5 pb-4">
  <div class="container mx-auto">
    <div class="row mx-auto">
      <div class="col-lg-4">
        <div class="projet px-4 py-3 mb-3">
          <h1 class="fw-bold" style="color:#001F3F;">255</h1>
          <p style="color:white;">Objets Trouvés</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="projet px-4 py-3 mb-3">
          <h1 class="fw-bold" style="color:#001F3F;" style="color:#001F3F;">200</h1>
          <p style="color:white;">Objets Perdus</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="projet px-4 py-3 mb-3">
          <h1 class="fw-bold" style="color:#001F3F;" style="color:#001F3F;">400</h1>
          <p style="color:white;">Objets Déclarés</p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>



  