<!-- background accueil -->
<app-header></app-header>
<div id="carouselIndicator" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicator" data-slide-to="1"></li>
    <li data-target="#carouselIndicator" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/banner1.png" class="d-block w-100">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/banner2.png" class="d-block w-100">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/banner1.png" class="d-block w-100">
      <div class="carousel-caption">
        <!-- <h5>Slide Three</h5>
              <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                  nulla, tempore.
                  Deserunt excepturi quas
                  vero.</p> -->
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<!-- Section apropos de eureka  -->
<div class=" sectionAccueil">
  <h3 class="titre text-center mt-5" id="title-section" color="#2ECC71 !important"> Apropos de Eureka </h3>

  <div class="row container " id="content-apropos">
    <div class="col-lg-6 mx-auto" id="about-img">
      <img src="../../../../assets/images/about2-05.png" class=" " alt="..." style>
    </div>
    <div class="col-lg-6">
      <div class="card-body" id="about-text">
        <div class="description ">
          <h5 class="card-title fw-bold" id="=title-about">Eureka c'est quoi ? </h5>
          <p class="card-text">Eureka est developpe per une equipe dynamique qui est en formaiton front-end Son objectif
            est d'aider à tout un chacun de rechercher ou déclarer un objets trouvévés et facilité la restitution. Pour
            la communication nous utilisons whatshap et message instannés. Nous proposons un service de publicité .
            Eureka est developpe per une equipe dynamique qui est en formaiton front-end Son objectif est d'aider à tout
            un chacun de rechercher ou déclarer un objets trouvévés et facilité la restitution. Pour la communication
            nous utilisons whatshap et message instannés. Nous proposons un service de publicité
          </p>
          <p class="card-text"> </p>
          <p class="card-text"> </p>
          <p class="card-text"> </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Section Card objets perdus-->
<h3 class="text-center  mt-5" id="title-section">Tous les objets trouvés </h3>
<div class="grid-row">

  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221777777777&text=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>
  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221776854665=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>
  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221777777777&text=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>
  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221777777777&text=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>
  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221777777777&text=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>
  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221776854665=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>
  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221777777777&text=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>
  <div class="product">
    <div class="product--card rounded-2 shadow-sm">
      <a class="product--image" href="#" title="View">
        <img class="img-responsive" src="../../../../assets/images/passport.png">
        <span class="tags"></span>
      </a>
      <h5 class="product--title" href="#" title="View">Integer tortor </h5>
      <div class="product--brand">
        <p href="#" title="View">Passport ramasser au bureu des passport</p>
      </div>
      <a class="product--price" href="https://api.whatsapp.com/send?phone=+221777777777&text=Bonjour" target="_blank"
        title="View">
        <div class="product--price-inner container d-flex justify-content-between">
          <div class="price--rrp "><button class=" btn fw-bold  bnt-link  btn-md text-center" id="btn-det"
              data-bs-toggle="modal" data-bs-target="#mydetails ">Détails</button></div>
          <div class="price--sell-price"><button class="btn   btn-md  rounded-circle" id="btn-com"><i
                class="bi bi-whatsapp"></i> </button></div>
        </div>
      </a>
    </div>
  </div>


</div>
<!-- <app-footer></app-footer> -->



<!-- Modal pour détails annonces -->
<div class="modal" id="mydetails">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="d-flex justify-content-between">
        <h4 class="modal-title">Détails objet</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid  mx-auto">
          <div class="row d-flex justify-content-center">
            <div class="card card-details border-0">
              <div class="row set-p justify-content-center">
                <div class="col-sm-4 px-0">
                  <img class="image" src="../../../../assets/images/cartable.png">
                </div>
                <div class="col-sm-8">
                  <div class="row px-3">
                    <h5 class="font-weight-bold">Cartable en cuire marron</h5>
                  </div>
                  <div class="row px-3 mb-3">

                    <p class="text-muted mb-0">trouvé à mbao vers 10h50 avec une bouteille d'au à coté</p>
                  </div>
                  <div class="row px-3">
                    <span class="status action-icon">
                      <a href="#">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <a href="#">
                        <i class="bi bi-eye-fill"></i>
                      </a>
                      <a href="#">
                        <i class="bi bi-chat"></i>
                      </a>
                      <!-- <a href="#">                
                                                           <i class="bi bi-archive"></i>
                                                       </a>                 -->
                      <a href="#">
                        <i class="bi bi-archive-fill"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>
<!--ce que vous devez savoir-->
<section class="quote container mx-auto">
  <div class="container mx-auto container_quote">
    <div class="quote-left">
      <h2 style=" font-weight: 700;">Comment bien recuperer un </h2>
      <h2 style="color: #2ECC71 ; font-weight: 700;">un objet déclaré ?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit suscipit egestas. Nunc eget congue
        ante. Vivamus ut sapien et ex volutpat tincidunt eget at felis vivamus hendrerit.

        Phasellus pellentesque, quam sed tempus tempus, dui magna semper urna, placerat tristique diam augue ut nunc.
      </p>
    </div>
    <div class="quote-right container">
      <article class="card-quote">
        <span class="quote-icone"><i class="bi bi-search"></i></span>
        <h5>Rechercher un objet </h5>
        <p>Lorem ipsum </p>
      </article>
      <article class="card-quote container">
        <span class="quote-icone"><i class="bi bi-person-lines-fill"></i></span>
        <h5>Contacter l’auteur </h5>
        <p>Lorem ipsum </p>
      </article>
      <article class="card-quote">
        <span class="quote-icone"><i class="bi bi-newspaper"></i></span>
        <h5>Montrer sa véracité </h5>
        <p>Lorem ipsum </p>
      </article>
      <article class="card-quote">
        <span class="quote-icone"><i class="bi bi-box"></i> </span>
        <h5>Recevoir l’objet </h5>
        <p>Lorem ipsum dolor</p>
      </article>
    </div>
  </div>
</section>
<!--section déclaration objets trouvés-->

<!--section déclaration objets trouvés-->
<section class="declaration  mx-auto">
  <!-- section soumettre Objet  -->
  <div class="container row container-declaration  ">
    <div class="declaration-left col-lg-7 col-md-4 py-5">
      <h2>Je déclare un objet trouvés </h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, adipisci! Lorem ipsum dolor sit amet. </p>
    </div>
    <div class="declaration-right col-lg-4 col-md-3 ">
        <form action="" class="  ">
            <div class="mb-3">
                <label for="titreObjet" class="form-label">Titre Objet</label>
                <input type="text" name="titreObjet" class="form-control" placeholder="Titre de l'objet" id="titreObjet">
            </div>
            <div class="mb-3">
                <label for="descriptionObjet" class="form-label" placeholder="Description de l'objet">Description</label>
                <input type="text" name="descriptionObjet" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="dateObjet" class="form-label">Date</label>
                <input type="date" name="dateObjet" class="form-control" placeholder="Description"  id="dateObjet">
            </div>  
            <div class="mb-3" >
                <label for="lieuObjet" class="form-label">Lieu</label>
                <input type="text" name="lieuObjet" class="form-control" id="lieuObjet">
            </div>
            <div class="mb-3">
                <label for="imageObjet" class="form-label">Url image</label>
                <input type="file" name="imageObjet" class="form-control" id="imageObjet">
            </div>
            
            <div class=" text-start d-flex justify-content-start">
                <button class="btn btn-lg btnAnnuler  px-3 py-1 mr-2 " >Annuler</button>
                <button class="btn  btn-lg  btnSoumettre  px-3 py-1   " >Déclarer</button>
            </div>
            
        </form>

        <!-- Test  -->
        <!-- <img [src]="image" alt=""> -->
    </div>

    </div>
<!-- Fin Contenu  -->
</section>
<!--Section publicité-->
<section class="publicite container">
  <h3 class="titre text-center mt-5" id="title-section" color="#2ECC71 !important"> Publicités </h3>

  <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicator" data-slide-to="1"></li>
      <li data-target="#carouselIndicator" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/images/pub3.png" class="d-block w-100">
        <div class="carousel-caption">

        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/pub2.png" class="d-block w-100">
        <div class="carousel-caption">

        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/pub3.png" class="d-block w-100">
        <div class="carousel-caption">
          <!-- <h5>Slide Three</h5>
                <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                    nulla, tempore.
                    Deserunt excepturi quas
                    vero.</p> -->
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
  <!-- <div class="container cotainer-pub"></div> -->
</section>

<!-- <section class="container rows content-testimonial ms-4">
 
</section> -->

<!-- section phasse -->
<section class="phases   row">
  <h3 class="titre text-center mt-5" id="title-section" color="#2ECC71 !important"> Ce que disent les utisateurs </h3>

  <div class="container card-contenu" style="margin: 0 auto; ">
    <figure class="snip1533 ">
      <figcaption >
        <blockquote>
          <p>If you do the job badly enough, sometimes you don't get asked to do it again.</p>
        </blockquote>
        <h3>Omar sow</h3>
      </figcaption>
    </figure>
    <figure class="snip1533">
      <figcaption>
        <blockquote>
          <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
        </blockquote>
        <h3>Germaine diouf</h3>
      </figcaption>
    </figure>
    <figure class="snip1533">
      <figcaption>
        <blockquote>
          <p>The only skills I have the patience to learn are those that have no real application in life. </p>
        </blockquote>
        <h3>Fatima diop</h3>
      </figcaption>
    </figure>
    
  </div>
  

</section>
<app-footer></app-footer>