<!-- background accueil -->
 <app-header></app-header>
 <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicator" data-slide-to="1"></li>
      <li data-target="#carouselIndicator" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../../../../assets/images/banner1.png" class="d-block w-100">
          <div class="carousel-caption">
             
          </div>
      </div>
      <div class="carousel-item">
          <img src="../../../../assets/images/banner2.png" class="d-block w-100">
          <div class="carousel-caption">
             
          </div>
      </div>
      <div class="carousel-item">
          <img src="../../../../assets/images/banner1.png" class="d-block w-100">
          <div class="carousel-caption">
              <!-- <h5>Slide Three</h5>
              <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                  nulla, tempore.
                  Deserunt excepturi quas
                  vero.</p> -->
          </div>
      </div>
  </div>

  <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>

  </div>
    <!-- Section apropos de eureka  -->
    <div class=" sectionAccueil">
      <h3 class="titre text-center " id="title-apropos" color="#2ECC71 !important" > Apropos de Eureka </h3>

          <div class="row container " id="content-apropos">
            <div class="col-lg-6 mx-auto" id="about-img">
              <img src="../../../../assets/images/about2-05.png" class=" " alt="..." style >
            </div>
            <div class="col-lg-6">
              <div class="card-body" id="about-text">
                  <div class="description ">
                    <h5 class="card-title fw-bold" id="=title-about">Eureka c'est quoi ? </h5>
                    <p class="card-text">Eureka est developpe per une equipe dynamique qui est en formaiton front-end Son objectif est d'aider à tout un chacun de rechercher ou déclarer un objets trouvévés et facilité la restitution. Pour la communication nous utilisons whatshap et message instannés. Nous proposons un service de publicité . Eureka est developpe per une equipe dynamique qui est en formaiton front-end Son objectif est d'aider à tout un chacun de rechercher ou déclarer un objets trouvévés et facilité la restitution. Pour la communication nous utilisons whatshap et message instannés. Nous proposons un service de publicité
                       </p>
                    <p class="card-text"> </p> 
                    <p class="card-text">   </p> 
                    <p class="card-text">  </p> 
                </div>
              </div>
            </div>
          </div>
  </div>      

  <!--Section Card objets perdus-->

 <div class=" container-objet w-100">
  <h3 class="titre text-center " id="title-apropos" color="#2ECC71 !important" > Objets trouvés  </h3>

    <div class="row justify-content-between row-objets container  gap-3">
        <div class="col-md-2 col-objet mb-4">
            <div class="card shadow" style="width: 17rem; height:25rem">
              <div class="inner">
                <img src="../../../../assets/images/passport.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body px-2 py-2 my-2 mx-2">
                <h5 class="card-title">Passport</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-link px-2 py-2  ">Détails</a>
                <a href="#" class="btn btn-success px-2 py-2 ms-2 btn-sm">whatshap</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-2 col-objet mb-4">
            <div class="card shadow" style="width: 17rem; height:25rem">
              <div class="inner">
                <img src="../../../../assets/images/passport.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body px-2 py-2 my-2 mx-2">
                <h5 class="card-title">Passport</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-link px-2 py-2  ">Détails</a>
                <a href="#" class="btn btn-success px-2 py-2 ms-2 btn-sm">whatshap</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-2 col-objet mb-4">
            <div class="card shadow" style="width: 17rem; height:25rem">
              <div class="inner">
                <img src="../../../../assets/images/passport.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body px-2 py-2 my-2 mx-2">
                <h5 class="card-title">Passport</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-link px-2 py-2  ">Détails</a>
                <a href="#" class="btn btn-success px-2 py-2 ms-2 btn-sm">whatshap</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-2 col-objet mb-4">
            <div class="card shadow" style="width: 17rem; height:25rem">
              <div class="inner">
                <img src="../../../../assets/images/passport.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body px-2 py-2 my-2 mx-2">
                <h5 class="card-title">Passport</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-link px-2 py-2  ">Détails</a>
                <a href="#" class="btn btn-success px-2 py-2 ms-2 btn-sm">whatshap</a>
              </div>
            </div> 
        </div> 
    </div>
 </div>
<!--ce que vous devez savoir-->
<section class="quote container mx-auto">
  <div class="container mx-auto container_quote">
    <div class="quote-left">
      <h2>Ce que vous devez savoir ?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit suscipit egestas. Nunc eget congue ante. Vivamus ut sapien et ex volutpat tincidunt eget at felis vivamus hendrerit. 

        Phasellus pellentesque, quam sed tempus tempus, dui magna semper urna, placerat tristique diam augue ut nunc. </p>
    </div>
    <div class="quote-right container">
        <article class="card-quote">
          <span class="quote-icone"><i class="bi bi-question-square"></i></span>
          <h5>Copywriting </h5>
          <p>Lorem ipsum dolor sit amet.</p>
        </article>
        <article class="card-quote">
          <span class="quote-icone"><i class="bi bi-question-square"></i></span>
          <h5>Copywriting </h5>
          <p>Lorem ipsum dolor sit amet.</p>
        </article>
        <article class="card-quote">
          <span class="quote-icone"><i class="bi bi-question-square"></i></span>
          <h5>Copywriting </h5>
          <p>Lorem ipsum dolor sit amet.</p>
        </article>
        <article class="card-quote">
          <span class="quote-icone"><i class="bi bi-question-square"></i></span>
          <h5>Copywriting </h5>
          <p>Lorem ipsum dolor sit amet.</p>
        </article>
    </div>
  </div>
</section>
<!--section déclaration objets trouvés-->
<section class="declaration  mx-auto">
      <!-- section soumettre Objet  -->
      <div class="container row container-declaration  ">
        <div class="declaration-left col-lg-7 col-md-4 py-5">
          <h2>Je déclare un objet trouvés </h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, adipisci! Lorem ipsum dolor sit amet. </p>
        </div>
        <div class="declaration-right col-lg-4 col-md-3 ">
            <form action="" class="  ">
                <div class="mb-3">
                    <label for="titreObjet" class="form-label">Titre Objet</label>
                    <input type="text" name="titreObjet" class="form-control" placeholder="Titre de l'objet" id="titreObjet">
                </div>
                <div class="mb-3">
                    <label for="descriptionObjet" class="form-label" placeholder="Description de l'objet">Description</label>
                    <input type="text" name="descriptionObjet" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="dateObjet" class="form-label">Date</label>
                    <input type="date" name="dateObjet" class="form-control" placeholder="Description"  id="dateObjet">
                </div>  
                <div class="mb-3" >
                    <label for="lieuObjet" class="form-label">Lieu</label>
                    <input type="text" name="lieuObjet" class="form-control" id="lieuObjet">
                </div>
                <div class="mb-3">
                    <label for="imageObjet" class="form-label">Url image</label>
                    <input type="file" name="imageObjet" class="form-control" id="imageObjet">
                </div>
                
                <div class=" text-start d-flex justify-content-start">
                    <button class="btn btn-lg btnAnnuler  px-3 py-1 mr-2 " >Annuler</button>
                    <button class="btn  btn-lg  btnSoumettre  px-3 py-1   " >Déclarer</button>
                </div>
                
            </form>

            <!-- Test  -->
            <!-- <img [src]="image" alt=""> -->
        </div>

        </div>
<!-- Fin Contenu  -->
</section>

<!--Section publicité-->
<section class="publicite ">
  <h3 class="titre text-center " id="title-apropos" color="#2ECC71 !important" > Publicités  </h3>

  <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicator" data-slide-to="1"></li>
        <li data-target="#carouselIndicator" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/images/pub3.png" class="d-block w-100">
            <div class="carousel-caption">
               
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/images/pub2.png" class="d-block w-100">
            <div class="carousel-caption">
               
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/images/pub3.png" class="d-block w-100">
            <div class="carousel-caption">
                <!-- <h5>Slide Three</h5>
                <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                    nulla, tempore.
                    Deserunt excepturi quas
                    vero.</p> -->
            </div>
        </div>
    </div>
  
    <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
    <!-- <div class="container cotainer-pub"></div> -->
  </section>
  <app-footer class="mb-4"></app-footer>
