<app-header></app-header>
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs flex-column" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i>Dashboard</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>Mes annonces</a>
                          </li>
                          <li class="nav-item">
                            <!-- <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>My Address</a> -->
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Détails compte</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="logout-tab"  href="#logout" data-bs-toggle="tab" role="tab" aria-controls="logout" aria-selected="true" ><i class="ti-lock"></i>Déconnexion</a>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content dashboard_content">
                          <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Dashboard</h3>
                                </div>
                                <div class="card-body">
                                    <p>From your account dashboard. you can easily check &amp; view your <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent orders</a>, manage your <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">shipping and billing addresses</a> and <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">edit your password and account details.</a></p>
                                </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="logout" role="tabpanel" aria-labelledby="logout-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Déconnexion</h3>
                                </div>
                                <div class="card-body">
                                    <p>From your account dashboard. you can easily check &amp; view your <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent orders</a>, manage your <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">shipping and billing addresses</a> and <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">edit your password and account details.</a></p>
                                    <button type="submit" class="btn btn-fill-out py-2" name="submit" value="Submit">Se déconnecter</button>
                                </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Annonces</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    
                                                    <th>Image</th>
                                                    <th>Libelle</th>
                                                    <th>Date</th>
                                                    <th>Type bien</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let bi of listeBiensHome">
                                                    <td><img src="http://127.0.0.1:8000/imagesBiens/{{bi.image}}"  alt="" style="width: 50px; border-radius: 100%;"></td>
                                                    <td>{{bi.libelle}}</td>
                                                    <td>{{bi.description}}</td>
                                                    <td>{{bi.type_bien}}</td>
                                                    <td><a  class="btn btn-fill-out btn-sm" data-bs-toggle="modal" data-bs-target="#editBien"  (click)="detailBien(bi.id)">Voir</a></td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                          </div>
                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3>Billing Address</h3>
                                        </div>
                                        <div class="card-body">
                                            <address>House #15<br>Road #1<br>Block #C <br>Angali <br> Vedora <br>1212</address>
                                            <p>New York</p>
                                            <a href="#" class="btn btn-fill-out">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Shipping Address</h3>
                                        </div>
                                        <div class="card-body">
                                            <address>House #15<br>Road #1<br>Block #C <br>Angali <br> Vedora <br>1212</address>
                                            <p>New York</p>
                                            <a href="#" class="btn btn-fill-out">Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Account Details</h3>
                                </div>
                                <div class="card-body">
                                    <p>Already have an account? <a href="#">Log in instead!</a></p>
                                    <form method="post" name="enq">
                                        <div class="row">
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Pénom <span class="required">*</span></label>
                                                <input required="" class="form-control" name="name" type="text">
                                             </div>
                                             <div class="form-group col-md-6 mb-3">
                                                <label>Nom <span class="required">*</span></label>
                                                <input required="" class="form-control" name="phone">
                                            </div>
                                            <!-- <div class="form-group col-md-12 mb-3">
                                                <label>Display Name <span class="required">*</span></label>
                                                <input required="" class="form-control" name="dname" type="text">
                                            </div> -->
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Email <span class="required">*</span></label>
                                                <input required="" class="form-control" name="email" type="email">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Mot de pass actuel<span class="required">*</span></label>
                                                <input required="" class="form-control" name="password" type="password">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Nouveau mot de pass <span class="required">*</span></label>
                                                <input required="" class="form-control" name="npassword" type="password">
                                            </div>
                                            <div class="form-group col-md-12 mb-3">
                                                <label>Confirmer mot de pass <span class="required">*</span></label>
                                                <input required="" class="form-control" name="cpassword" type="password">
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Enregistrer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    
    
    
    </div>
    <!-- END MAIN CONTENT -->
    <app-footer></app-footer>


  <!-- Modal -->
<div class="modal fade" id="editBien" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="editPubLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Détails de la publicité</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body ">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row  text-center d-flex" *ngIf="bienSelectionner.id">
          <div class="col-lg-6">
            <img src="http://127.0.0.1:8000/imagesBiens/{{bienSelectionner.image}}" class="w-100  rounded-start"
              alt="...">
          </div>
          <div class="col-lg-6 col-md-8">
            <div class="card-body">
              <h3 class="card-title">{{bienSelectionner.libelle}}</h3>
              <p class="card-text">{{bienSelectionner.description}}</p>
              <p class="card-text"><small class="text-body-secondary">{{bienSelectionner.type_bien}}
                 </small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>